Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Hardening M3 §6.6-pre.6h: event-loss oracle — D9 fleet coverage via a starved app model
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot review: O(n) starves mask + surface builder error
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.6-pre.6h: event-loss oracle — D9 fleet coverage via a starved app model (#204)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f736b737550cdf07c3c24fb292550c148af9b5ca
  bench/data.js
Due: none

Hardening M3 §6.2(c): bounded post-heal liveness + (i) metastability report
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot review: derive heal step from the event, report actual window
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Harden (i) metastability signal: all-dead mesh reports None, not Some(true)
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot review: honest post-heal window docs + saturating_sub note
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot review: validate step_dt_ms; make (c) indeterminate on tiny window
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.2(c): bounded post-heal liveness + (i) metastability report (#205)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for ec3cff5b9d12d8cde692de5b31d063ba06f60488
  bench/data.js
Due: none

Hardening M3: GracefulRemove lifecycle op
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify simulation oracle session errors
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

[codex] Hardening M3 GracefulRemove lifecycle op (#206)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for fbffe891654fe7f1aacf76aa4299a4889b4b4ff1
  bench/data.js
Due: none

Hardening M3 LegacyDisconnect lifecycle op
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address LegacyDisconnect review feedback
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

[codex] Hardening M3 LegacyDisconnect lifecycle op (#207)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 23b8593f89454125e02b5cf71291f8723186c55d
  bench/data.js
Due: none

Add freeze-frame convergence oracle
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add freeze-frame convergence oracle (#208)
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b877befafef0f289321bc83f26fa6108fbfbb88d
  bench/data.js
Due: none

Wire nightly baseline sweep
  .github/workflows/ci-network-nightly.yml
  tests/simulation/baseline_sweep.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Clarify full matrix helper docs
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Update vulnerable dev dependencies
  Cargo.lock
Due: none

Keep nightly network tests after sweep failures
  .github/workflows/ci-network-nightly.yml
  tests/simulation/baseline_sweep.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

[codex] Wire nightly baseline sweep (#209)
  .github/workflows/ci-network-nightly.yml
  Cargo.lock
  tests/simulation/baseline_sweep.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b9db9ef7b5026239b6e8d1b0514da79d67612463
  bench/data.js
Due: none

Add input-width sweep axis
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v1.json
  tests/simulation/baselines/sweep-v2.json
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add simulation violation allowlist census
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add simulation spectator convergence oracle
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify simulation input fingerprints
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix spectator progress frame floor
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Avoid duplicate spectator polling
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify spectator input corruption hook
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Name spectator violation sources
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Advance M3 simulation hardening (#210)
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v1.json
  tests/simulation/baselines/sweep-v2.json
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for c43fd3df301c3e268d1a89214e915c97c4d6efdd
  bench/data.js
Due: none

Add spectator host kill simulation coverage
  PLAN.md
  progress/session-001-spectator-host-kill.md
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Mirror lifecycle validation gates
  progress/session-001-spectator-host-kill.md
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
