Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Fix Docker network test build
  .dockerignore
  .github/workflows/ci-network.yml
  .llm/design-history/release.txt
  docker/Dockerfile
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

Prefer connector-first GitHub workflows
  .cursorrules
  .github/copilot-instructions.md
  .llm/context.md
  AGENTS.md
  CLAUDE.md
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

Fix Docker network test build (#245)
  .cursorrules
  .dockerignore
  .github/copilot-instructions.md
  .github/workflows/ci-network.yml
  .llm/context.md
  .llm/design-history/release.txt
  AGENTS.md
  CLAUDE.md
  docker/Dockerfile
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for 42935ad490c85e49f3654aa66a02ce49cd0cca70
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 42935ad490c85e49f3654aa66a02ce49cd0cca70
  bench-informational/data.js
Due: none

Document D12 frame-domain boundary
  src/network/codec.rs
  src/network/messages.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Document D12 frame-domain boundary (#247)
  src/network/codec.rs
  src/network/messages.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f19f384aac0547eb63eb991e9510da7301c175f0
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for f19f384aac0547eb63eb991e9510da7301c175f0
  bench-informational/data.js
Due: none

Harden release workspace lock synchronization
  .agents/skills/design-decisions/references/release.txt
  .agents/skills/fortress-development/SKILL.md
  .agents/skills/publishing/SKILL.md
  .agents/skills/workspace/SKILL.md
  .github/workflows/ci-docs.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  progress/session-144-release-lock-synchronization.md
  scripts/ci/agent-preflight.py
  scripts/pre-commit
  scripts/release/prepare_release.py
  scripts/release/workspace_locks.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_git_hook_policy.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
  scripts/tests/test_workspace_locks.py
  tests/network-peer/Cargo.lock
  tests/network-peer/Cargo.toml
Due: check-yaml, check-toml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint, cargo-hack-check

Fix release summary workflow lint
  .github/workflows/release-prepare.yml
  progress/session-144-release-lock-synchronization.md
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

Run release tooling tests before mutation
  .github/workflows/release-prepare.yml
  progress/session-144-release-lock-synchronization.md
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

Make release dry runs transaction-complete
  .github/workflows/release-prepare.yml
  progress/session-144-release-lock-synchronization.md
  scripts/release/prepare_release.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

Preserve force-tracked sandbox inputs
  progress/session-144-release-lock-synchronization.md
  scripts/release/prepare_release.py
  scripts/tests/test_prepare_release.py
Due: check-empty-tests, check-links, check-code-fence-syntax

Harden release workspace lock synchronization (#252)
  .agents/skills/design-decisions/references/release.txt
  .agents/skills/fortress-development/SKILL.md
  .agents/skills/publishing/SKILL.md
  .agents/skills/workspace/SKILL.md
  .github/workflows/ci-docs.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .pre-commit-config.yaml
  progress/session-144-release-lock-synchronization.md
  scripts/ci/agent-preflight.py
  scripts/pre-commit
  scripts/release/prepare_release.py
  scripts/release/workspace_locks.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_git_hook_policy.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
  scripts/tests/test_workspace_locks.py
  tests/network-peer/Cargo.lock
  tests/network-peer/Cargo.toml
Due: check-yaml, check-toml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for ce340e676f329009177dd487118c34cebc23dc51
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for ce340e676f329009177dd487118c34cebc23dc51
  bench-informational/data.js
Due: none

Fix pinned nightly install on macOS Bash
  .github/actions/install-pinned-nightly/install.sh
  progress/session-145-release-publish-reliability.md
  scripts/tests/test_ci_toolchains.py
Due: check-empty-tests, check-links, check-code-fence-syntax

Close release verification bypasses
  .github/workflows/ci-release-state.yml
  progress/session-145-release-publish-reliability.md
  scripts/release/release_branch.py
  scripts/release/release_state_ci.py
  scripts/tests/test_release_branch.py
  scripts/tests/test_release_state_ci.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

Harden release discovery and publish cache
  .github/workflows/publish.yml
  progress/session-145-release-publish-reliability.md
  scripts/release/release_checkpoint.py
  scripts/tests/test_release_checkpoint.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

Record green release automation review
  progress/session-145-release-publish-reliability.md
Due: check-links, check-code-fence-syntax

add Fortress Rollback Benchmarks (cargo) benchmark result for 9ae76e1cbce0a47e8bd1da734c4bbefdb1ced4b3
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 9ae76e1cbce0a47e8bd1da734c4bbefdb1ced4b3
  bench-informational/data.js
Due: none

Make release branch protection reproducible
  .agents/skills/publishing/SKILL.md
  .github/rulesets/main-protection.json
  .github/workflows/release-prepare.yml
  progress/session-145-release-publish-reliability.md
  scripts/release/main_ruleset.py
  scripts/tests/test_main_ruleset.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-json, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Bind release check to GitHub Actions
  .agents/skills/publishing/SKILL.md
  .github/rulesets/main-protection.json
  scripts/release/main_ruleset.py
  scripts/tests/test_main_ruleset.py
  scripts/tests/test_release_workflows.py
Due: check-json, check-empty-tests, markdownlint, check-links, check-code-fence-syntax

Harden ruleset drift detection
  scripts/ci/agent-preflight.py
  scripts/release/main_ruleset.py
  scripts/tests/test_main_ruleset.py
  scripts/tests/test_release_workflows.py
Due: check-empty-tests

Update preflight command contract
  scripts/tests/test_agent_preflight.py
Due: check-empty-tests

Register ruleset preflight surfaces
  scripts/ci/agent-preflight.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_release_workflows.py
Due: check-empty-tests

Paginate repository ruleset discovery
  scripts/release/main_ruleset.py
  scripts/tests/test_main_ruleset.py
Due: check-empty-tests

Make release branch protection reproducible (#255)
  .agents/skills/publishing/SKILL.md
  .github/rulesets/main-protection.json
  .github/workflows/release-prepare.yml
  progress/session-145-release-publish-reliability.md
  scripts/ci/agent-preflight.py
  scripts/release/main_ruleset.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_main_ruleset.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-json, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Make rewritten checkpoint fixture self-contained
  scripts/tests/test_release_checkpoint.py
Due: check-empty-tests

Make rewritten checkpoint fixture self-contained (#256)
  scripts/tests/test_release_checkpoint.py
Due: check-empty-tests

add Fortress Rollback Benchmarks (cargo) benchmark result for 082c53e9170a631795e113864570e59370a935ba
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 082c53e9170a631795e113864570e59370a935ba
  bench-informational/data.js
Due: none

fix(release): bind gh release commands to repository
  .github/workflows/publish.yml
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Fix repository binding for GitHub Release publication (#258)
  .github/workflows/publish.yml
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
