Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

chore: stop tracking progress logs
  progress/session-144-release-lock-synchronization.md
  progress/session-145-release-publish-reliability.md
  progress/session-162-post-merge-ci-green.md
  progress/session-171-zero-mutant-release-ci.md
  progress/session-174-final-correctness-rescan.md
Due: check-links, check-code-fence-syntax

test: pin nudge timer equality boundary
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test: close hosted mutation gaps
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test: pin final mutation boundaries
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test: gate invariant diagnostic by build mode
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

fix: harden timing and serial correctness (#315)
  .cargo/mutants.toml
  .github/workflows/ci-safety.yml
  CHANGELOG.md
  docs/api/public-api-snapshot.tsv
  docs/specs/api-contracts.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  progress/session-144-release-lock-synchronization.md
  progress/session-145-release-publish-reliability.md
  progress/session-162-post-merge-ci-green.md
  progress/session-171-zero-mutant-release-ci.md
  scripts/tests/test_ci_rust_workflow.py
  src/input_queue/mod.rs
  src/metrics.rs
  src/network/chaos_socket.rs
  src/network/protocol/mod.rs
  src/proof_vec.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/player_registry.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  wiki/API-Contracts.md
  wiki/Formal-Specification.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 6cdbf0669ed60956527e791b5356dbff3b2b4382
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 6cdbf0669ed60956527e791b5356dbff3b2b4382
  bench-informational/data.js
Due: none

feat: add deterministic sometimes-state census
  .agents/skills/design-decisions/references/network.txt
  .devcontainer/Dockerfile
  .github/actions/install-cargo-tool/action.yml
  .github/actions/install-pinned-nightly/miri-toolchain
  .github/actions/install-pinned-nightly/toolchain
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-release-state.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-simulation-nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-issue-template.yml
  CHANGELOG.md
  docs/api/public-api-snapshot.tsv
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_security_workflow.py
  scripts/tests/test_ci_simulation_nightly_workflow.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_ci_toolchains.py
  scripts/tests/test_release_workflows.py
  src/input_queue/mod.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/godot-emscripten/run.sh
  tests/godot-emscripten/rust-toolchain.toml
  tests/godot-emscripten/src/lib.rs
  tests/simulation.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
  tests/simulation/sometimes_state.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

fix: support cargo-deny config syntax changes
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix: probe cargo-deny config placement
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix: refresh CodeQL release-state fingerprint
  .github/workflows/ci-codeql.yml
  scripts/tests/test_ci_static_analysis.py
Due: check-yaml, check-empty-tests, actionlint

test: remove equivalent sometimes-state mutant
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

feat: publish deterministic sometimes-state census (#318)
  .agents/skills/design-decisions/references/network.txt
  .devcontainer/Dockerfile
  .github/actions/install-cargo-tool/action.yml
  .github/actions/install-pinned-nightly/miri-toolchain
  .github/actions/install-pinned-nightly/toolchain
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-codeql.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-release-state.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-simulation-nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-issue-template.yml
  CHANGELOG.md
  docs/api/public-api-snapshot.tsv
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_security_workflow.py
  scripts/tests/test_ci_simulation_nightly_workflow.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_ci_toolchains.py
  scripts/tests/test_release_workflows.py
  src/input_queue/mod.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/godot-emscripten/run.sh
  tests/godot-emscripten/rust-toolchain.toml
  tests/godot-emscripten/src/lib.rs
  tests/simulation.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
  tests/simulation/sometimes_state.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b621ffbd6f42147511ec36e6195f96f91f0f9c0e
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for b621ffbd6f42147511ec36e6195f96f91f0f9c0e
  bench-informational/data.js
Due: none

chore(deps): update Z3 verification stack
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .github/workflows/ci-verification.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/migration.md
  docs/user-guide.md
  progress/session-177-z3-021-verification-refresh.md
  scripts/tests/test_ci_static_analysis.py
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, cargo-hack-check

ci: allow cold semver rebuilds to finish
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  progress/session-177-z3-021-verification-refresh.md
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

chore(deps): update Z3 verification stack (#319)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .github/workflows/ci-rust.yml
  .github/workflows/ci-verification.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/migration.md
  docs/user-guide.md
  progress/session-177-z3-021-verification-refresh.md
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_static_analysis.py
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for e894056c153ba1b78bdb2e1ae3cd1b4db40f1bbb
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for e894056c153ba1b78bdb2e1ae3cd1b4db40f1bbb
  bench-informational/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for d5ac4e053f1d457e8f74b5363e08b368f17500ea
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for d5ac4e053f1d457e8f74b5363e08b368f17500ea
  bench-informational/data.js
Due: none
