Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Stop tracking local planning artifacts
  PLAN.md
  progress/session-001-spectator-host-kill.md
Due: check-links, check-code-fence-syntax

Respect runtime lifecycle drop semantics
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add spectator host kill simulation coverage (#211)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for a3776b43fabddfd4af678fde3e4518621e167424
  bench/data.js
Due: none

Add hot-join lifecycle simulation op
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix hot-join handoff pruning order
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Make hot-join replacement start atomic
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify hot-join handoff validation
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address hot-join review follow-ups
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add hot-join lifecycle simulation op (#212)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bd69b090f97b0b582b2a36f9116f60ca8349d16f
  bench/data.js
Due: none

Add reliable FIFO simulation transport profile
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add high RTT simulation census row
  tests/simulation.rs
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Advance M3 simulation census coverage (#213)
  tests/common/sim_net.rs
  tests/simulation.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 93542c2364e3a6d66550bd462769241fa1209293
  bench/data.js
Due: none

Add frozen-queue network blip census row
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address frozen blip review findings
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address event accounting review comments
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add frozen-queue network blip census row (#214)
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for ee8cb20a410f3a7403fba2dd11bda7b2a8efbc8a
  bench/data.js
Due: none

Add sparse and multi-drop census rows
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address census review feedback
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Tighten sparse census load assertion
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add sparse and multi-drop census rows (#215)
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 824ea063b30b15672430f61521721bf448354ac8
  bench/data.js
Due: none

ci(wasm): guard the Emscripten dependency graph
  .github/workflows/ci-rust.yml
  scripts/ci/check-emscripten-dependencies.sh
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix(wasm): use a browser-safe ChaosSocket clock
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  scripts/tests/test_ci_rust_workflow.py
  src/network/chaos_socket.rs
  tests/common/test_clock.rs
  tests/wasm-browser-smoke/Cargo.toml
  tests/wasm-browser-smoke/src/lib.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

test(godot): exercise Fortress in Emscripten exports
  tests/godot-emscripten/.cargo/config.toml
  tests/godot-emscripten/.gitignore
  tests/godot-emscripten/Cargo.lock
  tests/godot-emscripten/Cargo.toml
  tests/godot-emscripten/browser.spec.mjs
  tests/godot-emscripten/godot/export_presets.cfg
  tests/godot-emscripten/godot/main.gd
  tests/godot-emscripten/godot/main.gd.uid
  tests/godot-emscripten/godot/main.tscn
  tests/godot-emscripten/godot/probe.gdextension
  tests/godot-emscripten/godot/probe.gdextension.uid
  tests/godot-emscripten/godot/project.godot
  tests/godot-emscripten/package-lock.json
  tests/godot-emscripten/package.json
  tests/godot-emscripten/playwright.config.mjs
  tests/godot-emscripten/run.sh
  tests/godot-emscripten/rust-toolchain.toml
  tests/godot-emscripten/src/lib.rs
Due: check-toml, check-json, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

ci(godot): run Emscripten exports in Chromium
  .github/workflows/ci-rust.yml
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

docs(wasm): distinguish browser and Godot targets
  CHANGELOG.md
  README.md
  docs/fortress-vs-ggrs.md
  docs/includes/abbreviations.md
  docs/user-guide.md
  examples/README.md
  examples/custom_socket.rs
  scripts/hooks/check-network-timing-invariants.py
  scripts/tests/test_check_network_timing_invariants.py
  src/network/chaos_socket.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  tests/common/test_clock.rs
  tests/wasm-browser-smoke/Cargo.toml
  tests/wasm-browser-smoke/src/lib.rs
  wiki/Fortress-vs-GGRS.md
  wiki/User-Guide.md
Due: check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

docs(wasm): add ChaosSocket clock migration
  docs/migration.md
  wiki/Migration.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

fix(ci): satisfy Rust 1.97 lint gates
  src/network/compression.rs
  src/sessions/p2p_session.rs
  tests/common/test_utils.rs
  tests/network/multi_process.rs
  tests/sessions/p2p.rs
  tests/simulation/harness/schedule.rs
  tests/verification/determinism.rs
  tests/wasm-browser-smoke/src/lib.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(changelog): remove obsolete release placeholder guard
  scripts/tests/test_changelog_release_consolidation.py
Due: check-empty-tests

fix(ci): keep Docker workspace cache complete
  docker/Dockerfile
  scripts/tests/test_ci_rust_workflow.py
Due: check-empty-tests

add Fortress Rollback Benchmarks (cargo) benchmark result for dfa4aa371d4c8a3232c1842cbc2d05c44c705c9c
  bench/data.js
Due: none

Build simulation failure pipeline and harden disconnect recovery
  .config/nextest.toml
  .github/workflows/ci-simulation-nightly.yml
  .gitignore
  CHANGELOG.md
  scripts/simulation/promote-artifact.sh
  specs/tla/PeerDrop.tla
  specs/tla/README.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/sessions/peer_drop.rs
  tests/simulation.rs
  tests/simulation/baselines/sweep-v2.json
  tests/simulation/corpus/001-d8-cold-start-gossip-stall.json
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
  tests/simulation/known_failures/d14-lossy-graceful-remove.json
Due: check-yaml, check-toml, check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Harden corpus promotion across platforms
  scripts/simulation/promote-artifact.sh
  tests/simulation/corpus_replay.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Cover hot-join Halt snapshot races
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Preserve pre-fold Halt confirmation ceilings
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
