Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Harden network_stats counters against 32-bit overflow (Copilot review)
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(oracle): pin per-class failure cap isolates variants
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

harness: guard schedule generate() against degenerate step counts (Copilot)
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

docs: correct diagnostic_connect_status running-endpoint claim (Copilot)
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening: DST simulation fleet (M0/M1) + wire-exact bandwidth accounting (D1) (#189)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/network/codec.rs
  src/network/messages.rs
  src/network/network_stats.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/common/mod.rs
  tests/common/sim_net.rs
  tests/network.rs
  tests/network/deterministic_ping.rs
  tests/simulation.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 70938662471d747b299b203a22437f060398ab18
  bench/data.js
Due: none

M2 §5.4: SessionMetrics foundation + D9 event-discard telemetry
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

fix: resolve EventKind intra-doc link in private trim_event_queue doc
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

docs: correct D9 test doc wording to 'per overflow episode'
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

docs: clarify SessionMetrics construction wording
  src/metrics.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

fix: enforce event-queue cap on all emission paths, not just handle_event
  CHANGELOG.md
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

fix: trim event queue after propagated auto-disconnects; soften to_json doc
  src/metrics.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

fix: trim event queue after every handle_event exit (incl. early returns)
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.4: SessionMetrics + D9 event-discard telemetry (#190)
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 56db89d456c26258ea01499db2e5837fdc2a96d3
  bench/data.js
Due: none

Hardening M2 §5.2: SessionMetrics rollback + pacing counters
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Address adversarial review of M2 §5.2 metrics
  src/metrics.rs
  src/sessions/p2p_session.rs
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Exclude lockstep waits from stall_count (Bugbot)
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.2: SessionMetrics rollback + pacing counters (#191)
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for c48bfa296a9734c68cb13c87d1b919543ed9d7c2
  bench/data.js
Due: none

Hardening M2 §5.2: PeerMetrics per-peer wire-exact traffic + accessor
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/network.rs
  tests/network/peer_metrics.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

docs(metrics): clarify PeerMetrics per-endpoint attribution + gauge semantics
  src/metrics.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.2: PeerMetrics per-peer wire-exact traffic + accessor (#192)
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/network.rs
  tests/network/peer_metrics.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 18cae7cd381870418f95fb43adcc1c1fd48bb793
  bench/data.js
Due: none

Hardening M2 §5.2: SpectatorSession::peer_metrics(host_index)
  CHANGELOG.md
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Hardening M2 §5.2: SpectatorSession::peer_metrics(host_index) (#193)
  CHANGELOG.md
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for a500b62790b48aa6485489cbf14c1dbcddd1742c
  bench/data.js
Due: none

Hardening M2 §5.3 prep: per-peer wire-metrics aggregation in the DST harness
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

harness: document the peer_metrics-must-resolve invariant
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.3 prep: per-peer wire-metrics aggregation in the DST harness (#194)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 42492249931c0c03f52a2557e93fa304c6ffd27a
  bench/data.js
Due: none

Hardening M2 §5.3: baseline sweep cell runner + PR gate
  tests/simulation.rs
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

baseline_sweep: drop unreachable zero-player rate guards
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.3: baseline sweep cell runner + PR gate (#195)
  tests/simulation.rs
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 771ccee890c8dbb99041a705d269310f88f481ef
  bench/data.js
Due: none

Hardening M2 §5.2: HotJoinMetrics — joiner hot-join handshake latency
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Fix redundant explicit rustdoc link in hot_join_metrics doc
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address PR #196 review: explicit host-advance error handling + robust latency assert
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.2: HotJoinMetrics — joiner hot-join handshake latency (#196)
  CHANGELOG.md
  src/lib.rs
  src/metrics.rs
  src/sessions/p2p_session.rs
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bbd0bd4670b410eca6aa310e0a22f02dfd69dd95
  bench/data.js
Due: none
