Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

chore(deps): group Dependabot updates into larger weekly batches (#128)
  .github/dependabot.yml
Due: check-yaml

add Fortress Rollback Benchmarks (cargo) benchmark result for 2d3e4264c41aa1906764ef6b9b0a14646f31dbd0
  bench/data.js
Due: none

feat: Dynamic Issue Template – auto-populate bug report version dropdown from GitHub releases (#130)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/sync-issue-template.yml
  .pre-commit-config.yaml
  scripts/ci/sync-issue-template-versions.py
  scripts/tests/test_sync_issue_template_versions.py
Due: check-yaml, check-empty-tests, actionlint

Make GitHub Pages header mode-aware and enforce accessibility-safe theme invariants (#134)
  .pre-commit-config.yaml
  docs/stylesheets/custom.css
  scripts/docs/check-theme-colors.py
  scripts/tests/test_check_theme_colors.py
Due: check-yaml, check-empty-tests

Harden version sync coverage across docs/wiki and make checks environment-independent (#132)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  scripts/sync-version.sh
  scripts/tests/test_sync_version.py
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 118d586f652cd11a912c4448027f254ed07eb92a
  bench/data.js
Due: none

Harden release changelog synchronization for dates and version links (#136)
  .github/workflows/publish.yml
  scripts/sync-version.sh
  scripts/tests/test_sync_version.py
Due: check-yaml, check-empty-tests, actionlint

Remove desktop sticky left docs sidebar and add regression guard (#138)
  docs/stylesheets/custom.css
  scripts/tests/test_docs_sidebar_layout.py
Due: check-empty-tests

add Fortress Rollback Benchmarks (cargo) benchmark result for f13ec1b589e25f95f1ea2c2d03a139b7ead4dee1
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 08a3223beae57695ce3db88fba15e05b5a51a0b6
  bench/data.js
Due: none

ci: add dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: check-yaml, actionlint

Apply suggestion from @Copilot
  .github/workflows/docs-deploy.yml
Due: check-yaml, actionlint

ci: harden workflow permissions to job scope + add fork guard to dependabot auto-merge (#142)
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-changelog.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/devcontainer-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/sync-issue-template.yml
  .github/workflows/wiki-sync.yml
Due: check-yaml, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for dae74c392344b41a1ce6efbf5050de7d20c5e9d1
  bench/data.js
Due: none

Harden Dependabot auto-merge CI gating and polling timeout bounds (#146)
  .github/workflows/dependabot-auto-merge.yml
  .llm/context.md
  scripts/ci/docker-network-tests.sh
  scripts/ci/enable-dependabot-automerge.sh
  scripts/tests/test_enable_dependabot_automerge.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for 6cf1c0f12be4abf3e789c478137f81bd685d6f52
  bench/data.js
Due: none

Fix dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
  .llm/context.md
  .llm/skills/ci-cd-tooling/github-actions.md
  .llm/skills/publishing-organization/changelog.md
  .llm/skills/workflows/dev-pipeline.md
  .llm/skills/workflows/review-readiness.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  scripts/ci/agent-preflight.py
  scripts/ci/enable-dependabot-automerge.sh
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_enable_dependabot_automerge.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Fix dependabot auto-merge (#151)
  .github/workflows/dependabot-auto-merge.yml
  .llm/context.md
  .llm/skills/ci-cd-tooling/github-actions.md
  .llm/skills/publishing-organization/changelog.md
  .llm/skills/workflows/dev-pipeline.md
  .llm/skills/workflows/review-readiness.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  scripts/ci/agent-preflight.py
  scripts/ci/enable-dependabot-automerge.sh
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_enable_dependabot_automerge.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Add docs
  README.md
  docs/index.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  examples/README.md
  examples/configuration.rs
  examples/error_handling.rs
  llms.txt
  wiki/API-Contracts.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/_index.md
  .llm/skills/workflows/user-facing-docs.md
  CHANGELOG.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  scripts/ci/agent-preflight.py
  scripts/hooks/agent-vale-advisory.py
  scripts/hooks/check-changelog-unreleased.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_agent_vale_advisory.py
  scripts/tests/test_check_changelog_unreleased.py
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/player_registry.rs
  src/sync_layer/mod.rs
  tests/sessions/peer_drop.rs
  wiki/API-Contracts.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .config/spellcheck.toml
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/codex-bootstrap.sh
  .devcontainer/devcontainer.json
  .github/actions/install-cargo-tool/action.yml
  .github/copilot-instructions.md
  .github/workflows/ci-quality.yml
  AGENTS.md
  CLAUDE.md
  scripts/ci/check-tools.sh
  scripts/hooks/agent-vale-advisory.py
  scripts/tests/test_agent_vale_advisory.py
  scripts/tests/test_codex_devcontainer_setup.py
  scripts/verification/verify-kani.sh
  src/telemetry.rs
Due: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  scripts/tests/test_verify_kani_script.py
  scripts/verification/verify-kani.sh
  src/sync_layer/mod.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-verification.yml
  scripts/verification/verify-kani.sh
  scripts/verification/verify-tla.sh
Due: check-yaml, actionlint, kani-coverage

PR feedback
  scripts/tests/conftest.py
  scripts/tests/test_verify_kani_partition.py
  scripts/tests/test_verify_kani_script.py
  scripts/verification/verify-kani.sh
Due: check-empty-tests, kani-coverage

PR feedback
  .github/workflows/ci-docs.yml
  .github/workflows/ci-verification.yml
  .lychee.toml
  scripts/ci/test-verify-sccache.sh
  scripts/docs/check-code-fence-syntax.sh
  scripts/docs/verify-markdown-code.sh
  scripts/install-hooks.sh
  scripts/sync-version.sh
  scripts/tests/test_verify_kani_partition.py
  scripts/tests/test_verify_kani_script.py
  scripts/tests/test_verify_markdown_code.py
  scripts/tests/test_workflow_script_executability.py
  scripts/verification/verify-kani.sh
  src/sync_layer/mod.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-docs.yml
  .lychee.toml
  .markdown-link-check.json
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/tlaplus-tooling-research.md
  docs/user-guide.md
  scripts/docs/verify-markdown-code.sh
  scripts/tests/test_agent_preflight.py
  src/lib.rs
  wiki/Architecture.md
  wiki/Fortress-vs-GGRS.md
  wiki/TLAplus-Tooling-Research.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/codex-bootstrap.sh
  .devcontainer/devcontainer.json
  .devcontainer/setup-tla-tools.sh
  .github/actions/install-cargo-tool/action.yml
  .github/actions/install-cargo-tool/version-check.sh
  .github/workflows/ci-verification.yml
  .llm/context.md
  .lychee.toml
  .tla-tools-version
  CHANGELOG.md
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/specs/api-contracts.md
  docs/tlaplus-tooling-research.md
  docs/user-guide.md
  scripts/docs/check-links.py
  scripts/docs/check-links.sh
  scripts/docs/check-wiki-consistency.py
  scripts/docs/validate-wiki-output.py
  scripts/tests/test_codex_devcontainer_setup.py
  scripts/tests/test_install_cargo_tool_action.py
  scripts/verification/verify-tla.sh
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/sessions/peer_drop.rs
  tests/sessions/spectator.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Fortress-vs-GGRS.md
  wiki/TLAplus-Tooling-Research.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  docs/fortress-vs-ggrs.md
  scripts/docs/verify-markdown-code.sh
  scripts/tests/test_verify_markdown_code.py
  src/telemetry.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 70d45e7684fab460c65d6906d616d6e01e53d64e
  bench/data.js
Due: none

PR feedback
  .github/actions/install-cargo-tool/action.yml
  .github/actions/install-cargo-tool/version-check.sh
  scripts/tests/test_install_cargo_tool_action.py
Due: check-yaml, check-empty-tests

Stronger tests around disconnect/input delay
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci-docs.yml
  .llm/context.md
  .pre-commit-config.yaml
  docs/contributing.md
  scripts/build/check-cargo-hack.py
  scripts/build/run-cargo-fmt.py
  scripts/docs/check-links.py
  scripts/install-hooks.sh
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_links.py
  scripts/tests/test_git_hook_policy.py
  wiki/Contributing.md
Due: check-yaml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint

PR feedback
  scripts/tests/test_verify_kani_partition.py
Due: check-empty-tests

PR feedback
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
