Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Hardening M2 §5.3: checked-in sweep cost-ledger baseline + regression gate
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v1.json
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address PR #197 review: assert cell identity + tighten baseline floors
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix typo: reparametrization -> reparameterization (CI spell-check)
  tests/simulation/baseline_sweep.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M2 §5.3: checked-in sweep cost-ledger baseline + regression gate (#197)
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v1.json
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 9a6202cbf17ec0db7c60d2fe1c3df4313d8da45f
  bench/data.js
Due: none

Hardening M3 §6.1: PeerStall lifecycle fault (peer hang) in the DST harness
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot review: always-on steps>0 assert + probe reuses read confirmed frame
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 2: up-front schedule/probe index validation
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.1: PeerStall lifecycle fault (peer hang) in the DST harness (#198)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 236e1f506ac134b72e8fb01dbf9297a77cb2cce2
  bench/data.js
Due: none

Hardening M3 §6.1: SetInputDelay lifecycle op (mid-run input-delay change)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address adversarial review: decouple SetInputDelay premise + validation test
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.1: SetInputDelay lifecycle op (mid-run input-delay change) (#199)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 277a4567b012a1ec645f40d9b38e609ab2d81723
  bench/data.js
Due: none

Hardening M3 §6.1: PeerKill lifecycle op (peer crash) + oracle alive-mask
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address review: guard all-peers-killed vacuous pass + accurate mask framing
  tests/simulation/fleet.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 2: compare killed peers' pre-death states in (b)
  tests/simulation/fleet.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 3: mark_peer_dead fails loudly on out-of-range
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 4: accurate PeerKill schema-note wording
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 5: same 'session dropped' fix in the helper doc
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 6: index-assign after assert + rewrap helper doc
  tests/simulation/fleet.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 7: 'liveness checks' precision sweep
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 8: complete the 'liveness checks' sweep
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.1: PeerKill lifecycle op (peer crash) + oracle alive-mask (#200)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 99321fcbbab6a337d52a36b8dacf8d50a58f9576
  bench/data.js
Due: none

Hardening M3 §6.6-pre.3: WaitRecommendation-obeying app model (H-OSC probe)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address review: premise on Obey run + accurate doc + serde-default test
  tests/simulation/fleet.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 2: serde-default test must prove the field was removed
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot round 3: only count down wait_skip while Running
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.6-pre.3: WaitRecommendation-obeying app model (H-OSC probe) (#201)
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for c52785fabc851f0f2d5e71381d1a1b561040f34b
  bench/data.js
Due: none

Hardening M3 §6.6-pre.2: per-peer clock skew (H-SKEW precondition)
  tests/common/test_clock.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address review: frozen-clock semantics + skew unit test + defensive tweaks
  tests/common/test_clock.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3 §6.6-pre.2: per-peer clock skew (H-SKEW precondition) (#202)
  tests/common/test_clock.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for fabdf182ca95636ab4c91b7cb74e45f8f8e467c2
  bench/data.js
Due: none

Hardening M3 §13: H-SKEW verdict probe — realistic 0.1% clock skew is absorbed
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Re-scope: consistency-under-skew, NOT an H-SKEW falsification (adversarial finding)
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Address Copilot: spread uses expect + usize compare (no lossy cast)
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Hardening M3: clock-skew consistency probe + honest H-SKEW status (#203)
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 493c54b1f61dae7d6ea2d22217fe4ef7c4999e54
  bench/data.js
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
