Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Harden scheduled simulation fleet premises
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Synchronize workflow action pin contracts
  .github/workflows/ci-release-state.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-issue-template.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Harden scheduled simulation fleet and CI pin contracts (#262)
  .github/workflows/ci-release-state.yml
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .github/workflows/sync-issue-template.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_release_workflows.py
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for a9908b85000029e8116c60abd0df38cc7e62efad
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for a9908b85000029e8116c60abd0df38cc7e62efad
  bench-informational/data.js
Due: none

Promote N=16 simulation controls
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Synchronize wasm-bindgen CI tooling
  .github/workflows/ci-rust.yml
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

Restore serial_test MSRV compatibility
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
Due: check-yaml, check-toml, cargo-hack-check

Allow instrumented N=16 coverage controls
  .github/workflows/ci-coverage.yml
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

Update CI actions to latest releases
  .github/workflows/ci-rust.yml
  .github/workflows/devcontainer-build.yml
  scripts/tests/test_ci_rust_workflow.py
Due: check-yaml, check-empty-tests, actionlint

Refresh compatible Cargo dependencies
  Cargo.lock
Due: none

Budget N=16 smoke under loaded Nextest
  .config/nextest.toml
Due: check-toml

Promote N=16 controls and refresh dependency CI (#267)
  .config/nextest.toml
  .github/dependabot.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-rust.yml
  .github/workflows/devcontainer-build.yml
  Cargo.lock
  Cargo.toml
  scripts/tests/test_ci_rust_workflow.py
  tests/simulation/fleet.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 88b6c3040482e05118caf56279b638dbd8ad3982
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 88b6c3040482e05118caf56279b638dbd8ad3982
  bench-informational/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 158e85cac5456898b1dfa22813eab77917ce9c2a
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 158e85cac5456898b1dfa22813eab77917ce9c2a
  bench-informational/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for e3e90605b92fd68e593859286eba2f8f82192c31
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for e3e90605b92fd68e593859286eba2f8f82192c31
  bench-informational/data.js
Due: none

Add deterministic allocation contracts
  Cargo.lock
  Cargo.toml
  tests/allocation_contract.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Match zero-allocation assertions to contract
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Count reallocation growth in byte ceilings
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test: add deterministic allocation contracts (#270)
  Cargo.lock
  Cargo.toml
  tests/allocation_contract.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

chore(ci): refresh current action pins
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-simulation-nightly.yml
  .github/workflows/ci-verification.yml
  .github/workflows/publish.yml
Due: check-yaml, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for fc22bc4af27e9e5d331632183b1be54494938ae0
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for fc22bc4af27e9e5d331632183b1be54494938ae0
  bench-informational/data.js
Due: none

chore(ci): refresh current action pins (#271)
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-simulation-nightly.yml
  .github/workflows/ci-verification.yml
  .github/workflows/publish.yml
Due: check-yaml, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for df198e728fb3b87e0ba5cd3914bb65f0d07479d0
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for df198e728fb3b87e0ba5cd3914bb65f0d07479d0
  bench-informational/data.js
Due: none

Optimize sync-test input staging allocations
  CHANGELOG.md
  src/sessions/sync_test_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Eliminate warmed sync-test input staging allocations (#272)
  CHANGELOG.md
  src/sessions/sync_test_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 48532d1f5613cc3a4528cffc0ba76199f16dd8bc
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 48532d1f5613cc3a4528cffc0ba76199f16dd8bc
  bench-informational/data.js
Due: none

Eliminate P2P input staging allocations
  CHANGELOG.md
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Refresh standalone workspace dependencies
  .github/dependabot.yml
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  tests/godot-emscripten/Cargo.lock
Due: check-yaml

Eliminate P2P local-input staging allocations (#275)
  CHANGELOG.md
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Refresh standalone workspace dependencies (#276)
  .github/dependabot.yml
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  tests/godot-emscripten/Cargo.lock
Due: check-yaml

add Fortress Rollback Benchmarks (cargo) benchmark result for 0d60cf4b90ff8624d8036316f607cae7a6ce2946
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 0d60cf4b90ff8624d8036316f607cae7a6ce2946
  bench-informational/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 71d9ca03f7aa05528793b0a6bf4ce01fe40f66fa
  bench/data.js
Due: none
