Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Fixes?
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-docs.yml
  .github/workflows/ci-version-sync.yml
  scripts/build/run-cargo-fmt.py
  scripts/hooks/check-no-tla-tools-cache.py
  scripts/tests/test_git_hook_policy.py
Due: check-yaml, check-empty-tests, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for f259855ed4a12f45aae368aac2679033d3cbbd8b
  bench/data.js
Due: none

Bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

Fix release
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

Bump version (#161)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for db2815a303a8b52c6e6b6c4a5f892f770fe2b61a
  bench/data.js
Due: none

Spectator tech
  CHANGELOG.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_spectator_session.rs
  tests/sessions/spectator.rs
  wiki/API-Contracts.md
  wiki/Determinism-Model.md
  wiki/Fortress-vs-GGRS.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/ci/agent-preflight.py
  scripts/hooks/check-advance-frame-error-handling.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_advance_frame_error_handling.py
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/network/resilience.rs
  tests/sessions/peer_drop.rs
  tests/sessions/spectator.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/rust-language/defensive-programming.md
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/migration.md
  fuzz/Cargo.lock
  fuzz/fuzz_targets/fuzz_compression.rs
  fuzz/fuzz_targets/fuzz_rle.rs
  scripts/ci/agent-preflight.py
  scripts/hooks/check-unbounded-alloc.py
  scripts/tests/test_check_unbounded_alloc.py
  src/error.rs
  src/input_queue/mod.rs
  src/network/compression.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/replay.rs
  src/rle.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  src/time_sync.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

CI fixes
  .config/nextest.toml
  .github/workflows/ci-network.yml
  tests/network-peer/src/main.rs
  tests/network/multi_process.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

PR feedback (bug fixes)
  .llm/skills/rust-language/defensive-programming.md
  .llm/skills/testing/network-chaos-testing.md
  CHANGELOG.md
  docs/migration.md
  docs/replay.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_compression.rs
  fuzz/fuzz_targets/fuzz_protocol_input_packet.rs
  fuzz/fuzz_targets/fuzz_rle.rs
  scripts/hooks/check-advance-frame-error-handling.py
  scripts/hooks/check-unbounded-alloc.py
  scripts/tests/test_check_advance_frame_error_handling.py
  scripts/tests/test_check_unbounded_alloc.py
  scripts/verification/verify-kani.sh
  src/error.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/codec.rs
  src/network/compression.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/tokio_socket.rs
  src/network/udp_socket.rs
  src/prelude.rs
  src/replay.rs
  src/rle.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/replay_session.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  src/time_sync.rs
  tests/README.md
  tests/network/multi_process.rs
Due: check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .cargo/config.toml
  .cursorrules
  .devcontainer/welcome.sh
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .llm/context.md
  .llm/skills/ci-cd-tooling/ci-debugging.md
  .llm/skills/rust-language/refactoring.md
  .llm/skills/workflows/dev-pipeline.md
  .llm/skills/workflows/investigation.md
  CLAUDE.md
  scripts/build/run-cargo-clippy.py
  src/lib.rs
  src/sessions/builder.rs
  tests/network-peer/Cargo.toml
  tests/network-peer/src/main.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

CI fixes
  .config/nextest.toml
  .github/workflows/ci-network-nightly.yml
  loom-tests/Cargo.lock
  scripts/tests/test_verify_kani_mem_watchdog.py
  scripts/verification/verify-kani.sh
  src/error.rs
  src/input_queue/mod.rs
  src/network/protocol/mod.rs
  src/sync.rs
  src/sync_layer/game_state_cell.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  tests/network.rs
  tests/network/in_process_chaos.rs
  tests/network/multi_process.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Kani fixes
  src/error.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Kani fixes
  .github/workflows/ci-network.yml
  .github/workflows/ci-verification.yml
  docker/entrypoint.sh
  scripts/ci/docker-network-tests.sh
  scripts/verification/check-kani-coverage.py
  src/error.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  src/proof_vec.rs
  src/sessions/config.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

CI fixes
  .github/workflows/ci-docs.yml
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  src/input_queue/mod.rs
  src/lib.rs
  src/network/buffer.rs
  src/network/tokio_socket.rs
  src/network/udp_socket.rs
  src/rle.rs
  src/sessions/builder.rs
  src/sync_layer/mod.rs
  wiki/API-Contracts.md
  wiki/Migration.md
  wiki/Replay.md
  wiki/User-Guide.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/rust-language/defensive-programming.md
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/hooks/check-unbounded-alloc.py
  scripts/tests/test_check_unbounded_alloc.py
  src/error.rs
  src/network/compression.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_spectator_session.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-network-nightly.yml
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_replay_decode.rs
  scripts/hooks/check-unbounded-alloc.py
  src/network/codec.rs
  src/replay.rs
  src/sync_layer/saved_states.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

PR feedbac
  .github/actions/setup-rust-cache/README.md
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-llm-lint.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/sync-issue-template.yml
  .github/workflows/wiki-sync.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  CHANGELOG.md
  docs/migration.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  examples/custom_socket.rs
  fuzz/fuzz_targets/fuzz_compression.rs
  fuzz/fuzz_targets/fuzz_message_parsing.rs
  src/error.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/codec.rs
  src/network/compression.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/socket_receive.rs
  src/network/tokio_socket.rs
  src/network/udp_socket.rs
  src/rle.rs
  src/sessions/config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Update wiki
  wiki/Formal-Specification.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: markdownlint, check-links, check-code-fence-syntax, wiki-consistency

add Fortress Rollback Benchmarks (cargo) benchmark result for 123fa9ed3270ca99ca713877d327a8167dc99fed
  bench/data.js
Due: none

Hot Join
  CHANGELOG.md
  Cargo.toml
  benches/p2p_session.rs
  examples/sync_test.rs
  src/error.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/prelude.rs
  src/sessions/builder.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/network-peer/Cargo.toml
  tests/network-peer/src/main.rs
  tests/sessions.rs
  tests/sessions/hot_join.rs
  tests/sessions/macro_tests.rs
  tests/verification/determinism.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

CI fixes
  .github/workflows/ci-docs.yml
  .llm/context.md
  .llm/skills/ci-cd-tooling/markdown.md
  .llm/skills/ci-cd-tooling/wiki-sync.md
  .llm/skills/workflows/user-facing-docs.md
  CHANGELOG.md
  docs/contributing.md
  docs/user-guide.md
  scripts/docs/check-links.py
  scripts/docs/check-links.sh
  scripts/docs/check-rustdoc-links.py
  scripts/tests/test_check_links.py
  src/lib.rs
  src/network/buffer.rs
  src/network/network_stats.rs
  src/network/protocol/mod.rs
  src/proof_vec.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/mod.rs
  wiki/Contributing.md
  wiki/User-Guide.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  scripts/docs/check-links.py
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/ci-cd-tooling/doc-code-sync.md
  .llm/skills/testing/testing.md
  CHANGELOG.md
  scripts/ci/agent-preflight.py
  scripts/docs/check-links.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_links_intra_doc_mismatch.py
  src/input_queue/mod.rs
  src/lib.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/common/bus_socket.rs
  tests/common/mod.rs
  tests/sessions/hot_join.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/ci-cd-tooling/doc-code-sync.md
  .llm/skills/formal-verification/kani.md
  scripts/docs/check-links.py
  scripts/tests/test_check_links_cfg_kani.py
  src/input_queue/mod.rs
  src/sync_layer/mod.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-rust.yml
  .llm/design-history/network.txt
  .llm/design-history/sync-layer.txt
  CHANGELOG.md
  src/sessions/builder.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/sessions/hot_join.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for dd5776d0ee3a64ed7e81daf75b27d2354da6135b
  bench/data.js
Due: none

Peer drop
  scripts/verification/verify-tla.sh
  specs/tla/NPeerReactivation.cfg
  specs/tla/NPeerReactivation.tla
  specs/tla/NPeerReactivation_NoPA.cfg
  specs/tla/README.md
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Fix more-than-2 disconnect bug
  CHANGELOG.md
  src/input_queue/mod.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/common/filter_socket.rs
  tests/common/mod.rs
  tests/common/stubs.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

First pass N-Player Desync Audit
  .gitignore
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  tests/sessions/hot_join.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More bug fixes
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Potential bug fixes
  CHANGELOG.md
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
