Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: 'bash -c ''cargo doc --no-deps 2>&1 | grep -E "warning: .*unresolved link" && exit 1 || exit 0'''
  language: system
  pass_filenames: false

kani-coverage:
  name: kani proof coverage
  entry: ./scripts/check-kani-coverage.sh
  language: script
  pass_filenames: false

check-links:
  name: check links
  entry: ./scripts/check-links.sh
  language: script
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: bash -c 'command -v cargo-hack >/dev/null && cargo hack check --feature-powerset --exclude-features z3-verification,graphical-examples || true'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Address CI/CD issues
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-security.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .llm/skills/markdown-link-validation.md
Due: check-links

Remove duplicates
  .github/workflows/benchmark.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
Due: none

Address copilot issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci-changelog.yml
  .github/workflows/ci-docs.yml
  .lychee.toml
Due: none

Various QoL improvements around documentation, CI/CD, verification (#37)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci-changelog.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-security.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .gitignore
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .llm/skills/markdown-link-validation.md
  .lychee.toml
  .pre-commit-config.yaml
  .secrets.baseline
  .typos.toml
  .vale.ini
  .vale/styles/.gitkeep
  .vale/styles/config/vocabularies/Fortress/accept.txt
  codecov.yml
  src/network/udp_socket.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for d5f2d087b6be6f7551317be73e8d060e30cd1613
  bench/data.js
Due: none

GitHub Pages
  .github/workflows/docs-deploy.yml
  .github/workflows/wiki-sync.yml
  README.md
  docs/includes/abbreviations.md
  docs/index.md
  docs/stylesheets/custom.css
  mkdocs.yml
  requirements-docs.txt
  scripts/sync-wiki.py
Due: check-links

Fix CI/CD
  .llm/context.md
  docs/stylesheets/custom.css
Due: check-links

Address Copilot recommendations
  .github/workflows/wiki-sync.yml
  mkdocs.yml
  requirements-docs.txt
  scripts/__pycache__/sync-wiki.cpython-313.pyc
  scripts/sync-wiki.py
Due: none

More copilot feedback
  .github/workflows/docs-deploy.yml
  .github/workflows/wiki-sync.yml
  .llm/context.md
  docs/index.md
  requirements-docs.txt
  scripts/sync-wiki.py
Due: check-links

More copilto feedback
  .github/workflows/wiki-sync.yml
  .llm/skills/github-actions-best-practices.md
  .llm/skills/markdown-link-validation.md
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
Due: check-links

Fix pre-commits
  .github/workflows/wiki-sync.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .pre-commit-config.yaml
  scripts/check-cargo-hack.py
  scripts/check-kani-coverage.py
  scripts/check-links.py
  scripts/check-rustdoc-links.py
  scripts/hooks/__init__.py
  scripts/hooks/check-json.py
  scripts/hooks/check-merge-conflict.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-yaml.py
  scripts/hooks/end-of-file-fixer.py
  scripts/hooks/mixed-line-ending.py
  scripts/hooks/trailing-whitespace.py
  scripts/run-cargo-clippy.py
  scripts/run-cargo-fmt.py
Due: check-links

Fix CI/CD
  .github/PULL_REQUEST_TEMPLATE.md
  .llm/context.md
  .llm/skills/async-rust-best-practices.md
  .llm/skills/collection-determinism.md
  .llm/skills/cross-platform-ci-cd.md
  .llm/skills/cross-platform-games.md
  .llm/skills/cross-platform-rust.md
  .llm/skills/determinism-guide.md
  .llm/skills/deterministic-simulation-testing.md
  .llm/skills/floating-point-determinism.md
  .llm/skills/high-performance-rust.md
  .llm/skills/markdown-link-validation.md
  .llm/skills/rollback-engine-integration.md
  .llm/skills/rollback-netcode-conversion.md
  .llm/skills/rust-compile-time-optimization.md
  .llm/skills/rust-performance-book-summary.md
  .llm/skills/rust-refactoring-guide.md
  .llm/skills/wasm-portability.md
  .llm/skills/wasm-threading.md
  .llm/skills/zero-copy-memory-patterns.md
  .pre-commit-config.yaml
  docs/user-guide.md
  scripts/check-links.py
  scripts/hooks/markdownlint.py
Due: check-links

Implement copilot suggestions
  .llm/skills/python-script-guidelines.md
  scripts/__pycache__/check-kani-coverage.cpython-313.pyc
  scripts/__pycache__/check-links.cpython-313.pyc
  scripts/__pycache__/pre-commit.cpython-313.pyc
  scripts/check-kani-coverage.py
  scripts/check-links.py
  scripts/pre-commit.py
Due: check-links

Remove pycache
  .gitignore
  scripts/__pycache__/check-kani-coverage.cpython-313.pyc
  scripts/__pycache__/check-links.cpython-313.pyc
  scripts/__pycache__/pre-commit.cpython-313.pyc
  scripts/__pycache__/sync-wiki.cpython-313.pyc
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for fbcfc66293db94182de187e2de380a6fe317c924
  bench/data.js
Due: none

More wiki fixes
  .llm/context.md
  .llm/skills/github-wiki-sync.md
  scripts/check-links.py
  scripts/check-links.sh
  scripts/sync-wiki.py
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Changelog.md
  wiki/Code-of-Conduct.md
  wiki/Contributing.md
  wiki/Determinism-Model.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/GGRS-Changelog-Archive.md
  wiki/Home.md
  wiki/Migration.md
  wiki/Overview.md
  wiki/Spec-Divergences.md
  wiki/TLAplus-Tooling-Research.md
  wiki/User-Guide.md
  wiki/_Sidebar.md
  wiki/assets/logo-banner.svg
  wiki/assets/logo-small.svg
  wiki/assets/logo.svg
Due: check-links

More wiki fixes (#39)
  .llm/context.md
  .llm/skills/github-wiki-sync.md
  scripts/check-links.py
  scripts/check-links.sh
  scripts/sync-wiki.py
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Changelog.md
  wiki/Code-of-Conduct.md
  wiki/Contributing.md
  wiki/Determinism-Model.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/GGRS-Changelog-Archive.md
  wiki/Home.md
  wiki/Migration.md
  wiki/Overview.md
  wiki/Spec-Divergences.md
  wiki/TLAplus-Tooling-Research.md
  wiki/User-Guide.md
  wiki/_Sidebar.md
  wiki/assets/logo-banner.svg
  wiki/assets/logo-small.svg
  wiki/assets/logo.svg
Due: check-links

Fix CI/CD
  .github/workflows/wiki-sync.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .llm/skills/github-wiki-sync.md
  .lychee.toml
  .pre-commit-config.yaml
  scripts/hooks/actionlint.py
Due: check-links

Generate documentation on every main push
  .github/workflows/docs-deploy.yml
  .github/workflows/wiki-sync.yml
Due: none

copilot feedback
  .llm/skills/markdown-link-validation.md
  .lychee.toml
Due: check-links

Implement copilot recommendations
  .llm/skills/python-script-guidelines.md
  scripts/check-cargo-hack.py
  scripts/hooks/actionlint.py
  scripts/hooks/markdownlint.py
Due: check-links

Address copilot feedback
  .llm/skills/markdown-link-validation.md
  .lychee.toml
Due: check-links

Fix CI/CD (#40)
  .github/workflows/docs-deploy.yml
  .github/workflows/wiki-sync.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .llm/skills/github-wiki-sync.md
  .llm/skills/markdown-link-validation.md
  .llm/skills/python-script-guidelines.md
  .lychee.toml
  .pre-commit-config.yaml
  scripts/check-cargo-hack.py
  scripts/hooks/actionlint.py
  scripts/hooks/markdownlint.py
Due: check-links

Fix wiki links
  .github/workflows/ci-docs.yml
  .github/workflows/wiki-sync.yml
  .llm/skills/github-wiki-sync.md
  .pre-commit-config.yaml
  scripts/check-wiki-consistency.py
  wiki/Home.md
Due: check-links

Fix CI/CD errors
  .github/copilot-instructions.md
  .llm/context.md
  .llm/skills/markdown-formatting.md
  AGENTS.md
  CLAUDE.md
  package-lock.json
  scripts/hooks/markdownlint.py
  wiki/Home.md
Due: check-links

Remove packagelock
  .gitignore
  package-lock.json
Due: none

Copilot suggestions
  scripts/hooks/markdownlint.py
  wiki/Home.md
Due: check-links

Address issues
  .llm/skills/github-wiki-sync.md
  scripts/sync-wiki.py
  wiki/Home.md
Due: check-links

Fix wiki formatting
  .llm/skills/github-wiki-sync.md
  .llm/skills/markdown-formatting.md
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  wiki/Home.md
Due: check-links

Fix wiki links (#41)
  .github/copilot-instructions.md
  .github/workflows/ci-docs.yml
  .github/workflows/wiki-sync.yml
  .gitignore
  .llm/context.md
  .llm/skills/github-wiki-sync.md
  .llm/skills/markdown-formatting.md
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  wiki/Home.md
Due: check-links

Fix wiki
  .github/workflows/ci-docs.yml
  .github/workflows/wiki-sync.yml
  scripts/sync-wiki.py
  scripts/tests/__init__.py
  scripts/tests/test_sync_wiki.py
  scripts/validate-wiki-output.py
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-links

PR fixes
  .github/workflows/ci-changelog.yml
  .github/workflows/labeler.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  scripts/run-cargo-fmt.py
Due: check-links

PR feedback
  .llm/context.md
  .llm/skills/rollback-engine-integration.md
  .llm/skills/rollback-netcode-conversion.md
  docs/architecture.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  scripts/run-cargo-fmt.py
  scripts/sync-wiki.py
  src/checksum.rs
  src/lib.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/rollback-engine-integration.md
  .llm/skills/rollback-netcode-conversion.md
  docs/architecture.md
  docs/user-guide.md
  scripts/pre-commit
  wiki/Architecture.md
  wiki/User-Guide.md
Due: check-links

PR feedback
  .llm/context.md
  .llm/skills/rollback-engine-integration.md
  .llm/skills/rollback-netcode-conversion.md
  docs/architecture.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  wiki/Architecture.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .github/workflows/ci-changelog.yml
  .github/workflows/labeler.yml
  .llm/skills/github-actions-best-practices.md
  scripts/run-cargo-fmt.py
Due: check-links

PR feedback
  examples/ex_game/ex_game.rs
  scripts/pre-commit
  scripts/pre-commit.py
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Fix wiki (#49)
  .github/workflows/ci-changelog.yml
  .github/workflows/ci-docs.yml
  .github/workflows/labeler.yml
  .github/workflows/wiki-sync.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  .llm/skills/rollback-engine-integration.md
  .llm/skills/rollback-netcode-conversion.md
  docs/architecture.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  scripts/pre-commit
  scripts/pre-commit.py
  scripts/run-cargo-fmt.py
  scripts/sync-wiki.py
  scripts/tests/__init__.py
  scripts/tests/test_sync_wiki.py
  scripts/validate-wiki-output.py
  src/checksum.rs
  src/lib.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  check-links: any of: \.(md|rs)$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
