Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Cover integration legacy golden policy
  scripts/tests/test_check_wire_golden_immutable.py
Due: check-empty-tests

Run wire policy checks for hook changes
  .github/workflows/ci-docs.yml
  .github/workflows/ci-version-sync.yml
  scripts/tests/test_git_hook_policy.py
  tests/network/protocol_version.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Close wire policy rename edge cases
  scripts/ci/agent-preflight.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_check_wire_golden_immutable.py
  src/network/wire_golden_legacy_0_9.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Make wire suite version check load-bearing
  src/network/codec.rs
  src/network/wire_golden_v1.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Accept visible wire version markers
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_check_wire_golden_immutable.py
Due: check-empty-tests

Allow staged future wire suites
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_check_wire_golden_immutable.py
Due: check-empty-tests

Accept visible wire expected mappings
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_check_wire_golden_immutable.py
Due: check-empty-tests

Complete protocol v1 wire compatibility gates (#229)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-version-sync.yml
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_wire_golden_immutable.py
  scripts/tests/test_git_hook_policy.py
  src/network/codec.rs
  src/network/wire_golden_legacy_0_9.rs
  src/network/wire_golden_v1.rs
  tests/network/protocol_version.rs
  tests/network/wire_golden_legacy_0_9.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 991559cca913b7f7b0495d444e1224f28bdca423
  bench/data.js
Due: none

Publish M6 operations guides and reference metrics
  docs/desync-playbook.md
  docs/production-checklist.md
  docs/reconnect-playbook.md
  docs/telemetry.md
  docs/tuning.md
  examples/ex_game/ex_game_p2p.rs
  mkdocs.yml
  scripts/docs/sync-wiki.py
  src/network/network_stats.rs
  wiki/Desync-Playbook.md
  wiki/Production-Checklist.md
  wiki/Reconnect-Playbook.md
  wiki/Telemetry.md
  wiki/Tuning.md
  wiki/_Sidebar.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Document fresh wait recommendation handling
  examples/ex_game/ex_game_p2p.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Publish M6 operations guides and reference metrics (#231)
  docs/desync-playbook.md
  docs/production-checklist.md
  docs/reconnect-playbook.md
  docs/telemetry.md
  docs/tuning.md
  examples/ex_game/ex_game_p2p.rs
  mkdocs.yml
  scripts/docs/sync-wiki.py
  src/network/network_stats.rs
  wiki/Desync-Playbook.md
  wiki/Production-Checklist.md
  wiki/Reconnect-Playbook.md
  wiki/Telemetry.md
  wiki/Tuning.md
  wiki/_Sidebar.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bb7122b59d9311090065c5bb4ea266bb0bc001fd
  bench/data.js
Due: none

Harden frame boundaries and benchmark gating
  .github/workflows/ci-benchmarks.yml
  benches/compression.rs
  benches/sync_layer.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Harden checksum schedule arithmetic
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Stabilize benchmark lane composition
  .github/workflows/ci-benchmarks.yml
Due: check-yaml, actionlint

Bound informational benchmark runtime
  .github/workflows/ci-benchmarks.yml
Due: check-yaml, actionlint

Plant benchmark gate regression drill
  benches/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Harden frame boundaries and benchmark gating (#232)
  .github/workflows/ci-benchmarks.yml
  benches/compression.rs
  benches/sync_layer.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 5de83bea40e3a8b32e1d7875d7b3ce997eec6bf7
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 5de83bea40e3a8b32e1d7875d7b3ce997eec6bf7
  bench-informational/data.js
  bench-informational/index.html
Due: none

Add bounded long-run network soak
  .github/workflows/ci-network-nightly.yml
  CHANGELOG.md
  src/lib.rs
  src/sessions/p2p_session.rs
  tests/network.rs
  tests/network/soak.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Budget nightly network soak
  .config/nextest.toml
  .github/workflows/ci-network-nightly.yml
Due: check-yaml, check-toml, actionlint

Tighten soak RSS growth gate
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add bounded long-run network soak (#234)
  .config/nextest.toml
  .github/workflows/ci-network-nightly.yml
  CHANGELOG.md
  src/lib.rs
  src/sessions/p2p_session.rs
  tests/network.rs
  tests/network/soak.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 7b359e9c66d193081ea31a9c64305451a6ea73a6
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 7b359e9c66d193081ea31a9c64305451a6ea73a6
  bench-informational/data.js
Due: none

Converge hot-join membership generations
  CHANGELOG.md
  docs/architecture.md
  docs/migration.md
  docs/production-checklist.md
  docs/threat-model.md
  docs/user-guide.md
  src/lib.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/wire_golden_v2.rs
  src/sessions/p2p_session.rs
  tests/network/protocol_version.rs
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Sync protocol v2 wiki mirrors
  wiki/Architecture.md
  wiki/Migration.md
  wiki/Production-Checklist.md
  wiki/Threat-Model.md
  wiki/User-Guide.md
Due: markdownlint, check-links, check-code-fence-syntax, wiki-consistency

Allow Miri runner variance
  .github/workflows/ci-rust.yml
Due: check-yaml, actionlint

Converge hot-join membership generations (#235)
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  docs/architecture.md
  docs/migration.md
  docs/production-checklist.md
  docs/threat-model.md
  docs/user-guide.md
  src/lib.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/wire_golden_v2.rs
  src/sessions/p2p_session.rs
  tests/network/protocol_version.rs
  tests/network/soak.rs
  wiki/Architecture.md
  wiki/Migration.md
  wiki/Production-Checklist.md
  wiki/Threat-Model.md
  wiki/User-Guide.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 9bccc10b88e195e645be64a7a990d7fc72683f25
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 9bccc10b88e195e645be64a7a990d7fc72683f25
  bench-informational/data.js
Due: none

Confirm H-SKEW phase mechanism
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Confirm H-SKEW phase mechanism (#236)
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f8f0623acbbaab590244f8c913bf75e8665316b8
  bench/data.js
Due: none

Synchronize standalone locks during release prep
  .github/workflows/release-prepare.yml
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  scripts/release/prepare_release.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
  tests/godot-emscripten/Cargo.lock
Due: check-yaml, check-empty-tests, actionlint

Pair benchmark regression measurements
  .github/workflows/ci-benchmarks.yml
  scripts/ci/check-benchmark-regressions.py
  scripts/tests/test_check_benchmark_regressions.py
Due: check-yaml, check-empty-tests, actionlint

Clarify local lock package errors
  scripts/release/prepare_release.py
Due: none

Test time-sync controller under perturbation
  .github/workflows/ci-simulation-nightly.yml
  CHANGELOG.md
  docs/telemetry.md
  src/metrics.rs
  src/network/protocol/mod.rs
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check
