Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

PR feedback
  .llm/skills/scripting.md
  .pre-commit-config.yaml
  scripts/hooks/check-dockerfile.py
  scripts/hooks/check-empty-tests.py
  scripts/hooks/check-hook-output-format.py
  scripts/hooks/check-json.py
  scripts/hooks/check-llm-line-limit.py
  scripts/hooks/check-merge-conflict.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-track-caller-async.py
  scripts/hooks/check-yaml.py
  scripts/tests/test_check_dockerfile.py
  scripts/tests/test_check_empty_tests.py
  scripts/tests/test_check_hook_output_format.py
  scripts/tests/test_check_json.py
  scripts/tests/test_check_llm_line_limit.py
  scripts/tests/test_check_merge_conflict.py
  scripts/tests/test_check_toml.py
  scripts/tests/test_check_track_caller_async.py
  scripts/tests/test_check_yaml.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/skills/scripting.md
  scripts/hooks/check-dockerfile.py
  scripts/hooks/check-json.py
  scripts/hooks/check-llm-line-limit.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-track-caller-async.py
  scripts/hooks/check-yaml.py
  scripts/hooks/regenerate-skills-index.py
  scripts/tests/test_check_dockerfile.py
  scripts/tests/test_check_json.py
  scripts/tests/test_check_llm_line_limit.py
  scripts/tests/test_check_toml.py
  scripts/tests/test_check_track_caller_async.py
  scripts/tests/test_check_yaml.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/skills/scripting.md
  scripts/hooks/check-hook-output-format.py
  scripts/tests/test_check_hook_output_format.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  scripts/check-kani-coverage.py
  scripts/hooks/check-empty-tests.py
  scripts/hooks/check-hook-output-format.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-track-caller-async.py
  scripts/hooks/check-yaml.py
  scripts/hooks/end-of-file-fixer.py
  scripts/hooks/mixed-line-ending.py
  scripts/hooks/regenerate-skills-index.py
  scripts/hooks/trailing-whitespace.py
  scripts/tests/test_check_dockerfile.py
  scripts/tests/test_check_empty_tests.py
  scripts/tests/test_check_hook_output_format.py
  scripts/tests/test_check_toml.py
  scripts/tests/test_check_track_caller_async.py
Due: check-empty-tests

PR feedback
  scripts/hooks/check-dockerfile.py
  scripts/hooks/check-hook-output-format.py
  scripts/tests/test_check_dockerfile.py
  scripts/tests/test_check_hook_output_format.py
Due: check-empty-tests

PR feedback
  .github/workflows/ci-docs.yml
  .llm/skills/scripting.md
  scripts/hooks/end-of-file-fixer.py
  scripts/hooks/mixed-line-ending.py
  scripts/hooks/trailing-whitespace.py
  scripts/tests/test_end_of_file_fixer.py
  scripts/tests/test_mixed_line_ending.py
  scripts/tests/test_trailing_whitespace.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

PR feedback
  .llm/skills/scripting.md
  scripts/check-links.py
  scripts/hooks/check-hook-output-format.py
  scripts/hooks/regenerate-skills-index.py
  scripts/tests/test_check_hook_output_format.py
  scripts/tests/test_check_links.py
  scripts/tests/test_regenerate_skills_index.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  scripts/hooks/actionlint.py
  scripts/hooks/check-dockerfile.py
  scripts/hooks/check-hook-output-format.py
  scripts/hooks/check-llm-line-limit.py
  scripts/hooks/regenerate-skills-index.py
  scripts/tests/test_check_dockerfile.py
  scripts/tests/test_check_hook_output_format.py
  scripts/tests/test_check_llm_line_limit.py
  scripts/tests/test_regenerate_skills_index.py
Due: check-empty-tests

PR feedback
  .llm/skills/scripting.md
  scripts/check-kani-coverage.py
  scripts/check-links.py
  scripts/hooks/check-empty-tests.py
  scripts/hooks/check-json.py
  scripts/hooks/check-merge-conflict.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-track-caller-async.py
  scripts/hooks/check-yaml.py
  scripts/hooks/end-of-file-fixer.py
  scripts/hooks/mixed-line-ending.py
  scripts/hooks/trailing-whitespace.py
  scripts/tests/test_check_empty_tests.py
  scripts/tests/test_check_json.py
  scripts/tests/test_check_links.py
  scripts/tests/test_check_merge_conflict.py
  scripts/tests/test_check_toml.py
  scripts/tests/test_check_track_caller_async.py
  scripts/tests/test_check_yaml.py
  scripts/tests/test_end_of_file_fixer.py
  scripts/tests/test_mixed_line_ending.py
  scripts/tests/test_trailing_whitespace.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .pre-commit-config.yaml
  scripts/check-kani-coverage.py
  scripts/check-links.py
  scripts/check-rustdoc-links.py
  scripts/check-wiki-consistency.py
  scripts/hooks/check-hook-output-format.py
  scripts/run-cargo-clippy.py
  scripts/run-cargo-fmt.py
  scripts/tests/test_check_hook_output_format.py
  scripts/tests/test_check_links.py
  scripts/validate-wiki-output.py
Due: check-yaml, check-empty-tests

PR feedback
  .llm/skills/scripting.md
  scripts/hooks/check-hook-output-format.py
  scripts/tests/test_check_hook_output_format.py
  scripts/validate-wiki-output.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/skills/scripting.md
  scripts/check-wiki-consistency.py
  scripts/hooks/check-hook-output-format.py
  scripts/tests/test_check_hook_output_format.py
  scripts/validate-wiki-output.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

add Fortress Rollback Benchmarks (cargo) benchmark result for 0b8477996f99c018b4f0bbc10bdc0b18a71c60b3
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 201cc6ccd615c17ffc5df3d7183028c2f8d716e3
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for dd673ceae4b6e245af0e426adfd251f8c98495a0
  bench/data.js
Due: none

PR feedback
  .devcontainer/devcontainer.json
  .llm/design-history/README.md
  .llm/design-history/network.txt
  .llm/design-history/sync-layer.txt
  .llm/skills/workflows/adversarial-handoff.md
  .llm/skills/workflows/design-decisions.md
  .llm/skills/workflows/review-readiness.md
  .llm/templates/ask-user-question.md
Due: check-json, markdownlint, check-links, check-code-fence-syntax

Bump version
  Cargo.lock
  Cargo.toml
Due: check-toml, cargo-hack-check

Bump changelog
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  docs/architecture.md
  docs/changelog.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/fortress-vs-ggrs.md
  docs/ggrs-changelog-archive.md
  docs/index.md
  docs/migration.md
  docs/specs/README.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  docs/tlaplus-tooling-research.md
  docs/user-guide.md
  scripts/hooks/check-sync-headers.py
  tests/sessions/spectator.rs
  tests/verification/property.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Changelog.md
  wiki/Code-of-Conduct.md
  wiki/Contributing.md
  wiki/Determinism-Model.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/GGRS-Changelog-Archive.md
  wiki/Home.md
  wiki/Migration.md
  wiki/Overview.md
  wiki/Spec-Divergences.md
  wiki/TLAplus-Tooling-Research.md
  wiki/User-Guide.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 9b8b6bd4b4110795cf49fb235b2e4c2b69779b06
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for c5930e1a4004f212b6bb63591f15c3ac9532cbd3
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for f520cca23a012371e19651e39b2db5718ff876ba
  bench/data.js
Due: none

Replay integration
  .gitignore
  .llm/skills/ci-cd-tooling/wiki-sync.md
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/replay.md
  docs/telemetry.md
  mkdocs.yml
  scripts/docs/sync-wiki.py
  scripts/hooks/check-sync-headers.py
  scripts/tests/test_check_sync_headers.py
  scripts/tests/test_sync_wiki.py
  src/lib.rs
  src/prelude.rs
  src/replay.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sessions/replay_session.rs
  src/sessions/session_trait.rs
  src/sync_layer/mod.rs
  src/telemetry.rs
  wiki/Overview.md
  wiki/Replay.md
  wiki/Telemetry.md
  wiki/_Sidebar.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .typos.toml
  Cargo.lock
  Cargo.toml
  scripts/hooks/check-sync-headers.py
  scripts/tests/test_check_sync_headers.py
Due: check-toml, check-empty-tests, cargo-hack-check

PR feedback
  .llm/context.md
  CHANGELOG.md
  docs/telemetry.md
  scripts/docs/sync-wiki.py
  scripts/tests/test_sync_wiki.py
  src/lib.rs
  src/replay.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sessions/replay_session.rs
  src/sync_layer/mod.rs
  wiki/Telemetry.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/fortress-vs-ggrs.md
  scripts/hooks/check-changelog-unreleased.py
  src/error.rs
  src/sessions/replay_session.rs
  wiki/Fortress-vs-GGRS.md
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-docs.yml
  .pre-commit-config.yaml
  scripts/ci/check-doc-claims.sh
  src/error.rs
  src/sessions/p2p_session.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

PR feedback
  CHANGELOG.md
  benches/p2p_session.rs
  docs/architecture.md
  docs/index.md
  docs/migration.md
  docs/specs/determinism-model.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  examples/sync_test.rs
  fuzz/fuzz_targets/fuzz_input_queue_direct.rs
  scripts/ci/check-changelog-format.sh
  scripts/ci/check-derive-bounds.sh
  src/frame_info.rs
  src/input_queue/mod.rs
  src/input_queue/prediction.rs
  src/lib.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/prelude.rs
  src/replay.rs
  src/sessions/builder.rs
  src/sessions/replay_session.rs
  src/sync_layer/mod.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/network-peer/src/main.rs
  tests/sessions/macro_tests.rs
  tests/verification/invariants.rs
  tests/verification/property.rs
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .pre-commit-config.yaml
  scripts/ci/check-derive-bounds.sh
  scripts/ci/check-doc-claims.sh
  scripts/ci/check-shell-portability.sh
  scripts/docs/check-links.sh
  scripts/docs/check-llm-skills.sh
  scripts/docs/verify-markdown-code.sh
  scripts/tests/test_check_shell_portability.py
  scripts/tests/test_ci_regex_portability.py
  scripts/verification/check-kani-coverage.sh
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  CHANGELOG.md
  src/sessions/replay_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Bump version
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

add Fortress Rollback Benchmarks (cargo) benchmark result for e499999ee9e94229caf51bac8441709d1a8a444f
  bench/data.js
Due: none

Update version
  Cargo.lock
  Cargo.toml
Due: check-toml, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f67e6f55f19ec552a531c2c74a58064eef66ab59
  bench/data.js
Due: none

docs: fix generic type parameters rendering in GitHub Pages headings (#125)
  docs/replay.md
  docs/specs/formal-spec.md
  wiki/Formal-Specification.md
  wiki/Replay.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

chore(deps): group dependabot updates into larger weekly PRs
  .github/dependabot.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
