Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Model clock-skewed frame production
  .github/workflows/ci-simulation-nightly.yml
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Bound skew-gated frame cadence
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Preserve artifact schema diagnostics
  tests/simulation/harness/artifact.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify frame opportunity accounting
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Model clock-skewed frame production (#223)
  .github/workflows/ci-simulation-nightly.yml
  .gitignore
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for c371e28b33284f74aedd450e9a3f5e7946283d9d
  bench/data.js
Due: none

Quantify clock-skew rollback cost
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add bounded control-loop simulation evidence
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add bounded control-loop simulation evidence (#224)
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 5ebb23a7b97c142e8fc89281af56f87d58f4ee8e
  bench/data.js
Due: none

Model protocol v1 handshake safety
  scripts/verification/verify-tla.sh
  specs/tla/README.md
  specs/tla/SyncHandshakeV1.cfg
  specs/tla/SyncHandshakeV1.tla
  specs/tla/SyncHandshakeV1Fair.cfg
  specs/tla/SyncHandshakeV1Fair.tla
  specs/tla/SyncHandshakeV1Mismatch.cfg
  specs/tla/SyncHandshakeV1Mismatch.tla
  specs/tla/SyncHandshakeV1_HandlersDisabled.cfg
Due: markdownlint, check-links, check-code-fence-syntax

Benchmark session metrics hot paths
  benches/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Measure scale recovery hypotheses
  .github/workflows/ci-simulation-nightly.yml
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Prefer integrated GitHub tooling
  .llm/context.md
  AGENTS.md
Due: markdownlint, check-links, check-code-fence-syntax

Track rebound synchronization evidence
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Gate receive timing diagnostics
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add protocol v1 verification and scale hardening evidence (#225)
  .github/workflows/ci-simulation-nightly.yml
  .llm/context.md
  AGENTS.md
  benches/p2p_session.rs
  scripts/verification/verify-tla.sh
  specs/tla/README.md
  specs/tla/SyncHandshakeV1.cfg
  specs/tla/SyncHandshakeV1.tla
  specs/tla/SyncHandshakeV1Fair.cfg
  specs/tla/SyncHandshakeV1Fair.tla
  specs/tla/SyncHandshakeV1Mismatch.cfg
  specs/tla/SyncHandshakeV1Mismatch.tla
  specs/tla/SyncHandshakeV1_HandlersDisabled.cfg
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: check-yaml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 0b70f028557f9df15a57565345b0aa5773b8489d
  bench/data.js
Due: none

Harden synchronization timeout and wire frame validation
  CHANGELOG.md
  docs/migration.md
  docs/user-guide.md
  src/network/codec.rs
  src/network/protocol/mod.rs
  src/sessions/config.rs
  tests/config.rs
  tests/sessions/p2p.rs
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Clarify default sync timeout documentation
  src/sessions/config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Narrow decoder error documentation
  src/network/codec.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Refresh sync timeout test comments
  src/sessions/config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify optional sync timeout examples
  docs/user-guide.md
  wiki/User-Guide.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

Implement protocol v1 wire foundation
  CHANGELOG.md
  benches/p2p_session.rs
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/migration.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  src/lib.rs
  src/metrics.rs
  src/network/chaos_socket.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/network/socket_receive.rs
  src/network/tokio_socket.rs
  src/network/udp_socket.rs
  src/sessions/config.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/network.rs
  tests/network/protocol_version.rs
  tests/sessions/p2p.rs
  tests/simulation/baselines/sweep-v2.json
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  wiki/Architecture.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Migration.md
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Regenerate user guide wiki mirror
  wiki/User-Guide.md
Due: markdownlint, check-links, check-code-fence-syntax, wiki-consistency

Add protocol-v1 config handshake
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/specs/formal-spec.md
  docs/threat-model.md
  docs/user-guide.md
  mkdocs.yml
  scripts/docs/sync-wiki.py
  specs/tla/README.md
  src/lib.rs
  src/metrics.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/event.rs
  src/network/protocol/mod.rs
  src/network/tokio_socket.rs
  src/prelude.rs
  src/sessions/builder.rs
  src/sessions/event_drain.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/network-peer/src/main.rs
  tests/sessions.rs
  tests/sessions/compat.rs
  tests/sessions/spectator.rs
  tests/simulation/harness/mod.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/Threat-Model.md
  wiki/User-Guide.md
  wiki/_Sidebar.md
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Sync standalone crate lockfiles
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  tests/godot-emscripten/Cargo.lock
Due: none

Add bounded stream framing and MTU diagnostics
  .llm/design-history/network.txt
  CHANGELOG.md
  docs/architecture.md
  docs/specs/api-contracts.md
  docs/specs/formal-spec.md
  docs/threat-model.md
  docs/user-guide.md
  src/lib.rs
  src/metrics.rs
  src/network/buffer.rs
  src/network/codec.rs
  src/network/protocol/mod.rs
  src/network/tokio_socket.rs
  src/network/udp_socket.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Formal-Specification.md
  wiki/Threat-Model.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Keep framing properties within Miri budget
  src/network/codec.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add coordinated graceful-drop barrier
  CHANGELOG.md
  docs/fortress-vs-ggrs.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  scripts/verification/verify-tla.sh
  specs/tla/CoordinatedPeerDrop.cfg
  specs/tla/CoordinatedPeerDrop.tla
  specs/tla/CoordinatedPeerDrop_Fair.cfg
  specs/tla/CoordinatedPeerDrop_Faults.cfg
  specs/tla/CoordinatedPeerDrop_ImmediateMin.cfg
  specs/tla/README.md
  src/input_queue/mod.rs
  src/lib.rs
  src/metrics.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/sessions/peer_drop.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  wiki/API-Contracts.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b535d3b53fa2b7c44a5074565321aced172bfd75
  bench/data.js
Due: none

Automate release preparation and publishing
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .llm/design-history/release.txt
  docs/contributing.md
  scripts/release/prepare_release.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
  wiki/Contributing.md
Due: check-yaml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint

Satisfy release workflow shell lint
  .github/workflows/publish.yml
Due: check-yaml, actionlint

Harden release retry paths
  .github/workflows/publish.yml
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Reuse established release push credentials
  .github/workflows/release-prepare.yml
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Use event input for release concurrency
  .github/workflows/publish.yml
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

Automate release preparation and publishing (#228)
  .github/workflows/publish.yml
  .github/workflows/release-prepare.yml
  .llm/design-history/release.txt
  docs/contributing.md
  scripts/release/prepare_release.py
  scripts/tests/test_prepare_release.py
  scripts/tests/test_release_workflows.py
  wiki/Contributing.md
Due: check-yaml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint

Complete protocol v1 wire compatibility gates
  .github/workflows/ci-version-sync.yml
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_wire_golden_immutable.py
  scripts/tests/test_git_hook_policy.py
  src/network/codec.rs
  src/network/wire_golden_legacy_0_9.rs
  src/network/wire_golden_v1.rs
  tests/network/protocol_version.rs
  tests/network/wire_golden_legacy_0_9.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Harden wire golden successor validation
  scripts/ci/agent-preflight.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_wire_golden_immutable.py
  src/network/codec.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
