Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

PR feedback
  .llm/context.md
  .llm/skills/changelog-practices.md
  .llm/skills/defensive-programming.md
  CHANGELOG.md
  docs/user-guide.md
  examples/error_handling.rs
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/documentation-code-consistency.md
  CHANGELOG.md
  src/checksum.rs
  src/lib.rs
  src/network/codec.rs
  src/network/tokio_socket.rs
  src/rle.rs
  src/sessions/builder.rs
  src/sync_layer/game_state_cell.rs
  src/telemetry.rs
  tests/common/test_utils.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/defensive-programming.md
  .llm/skills/documentation-code-consistency.md
  src/lib.rs
  src/sync_layer/game_state_cell.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/documentation-code-consistency.md
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/defensive-programming.md
  docs/user-guide.md
  wiki/User-Guide.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

add Fortress Rollback Benchmarks (cargo) benchmark result for a80ed6134f42114ced171a7e44f8814af3f21a58
  bench/data.js
Due: none

v4 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b82b309155056bff46732f20e91a44a892de5e5c
  bench/data.js
Due: none

v4 release (#73)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 129b490f3b0a60a6e3a9f7c2c65eb963e1390399
  bench/data.js
Due: none

More format markers
  src/error.rs
  src/input_queue/prediction.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/messages.rs
  src/network/network_stats.rs
  src/network/protocol/event.rs
  src/network/protocol/state.rs
  src/sessions/config.rs
  src/sessions/sync_health.rs
  src/telemetry.rs
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Documentation accuracy
  .markdownlint.json
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/code-of-conduct.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  mkdocs.yml
  scripts/check-links.sh
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Architecture.md
  wiki/Code-of-Conduct.md
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
  wiki/assets/logo-banner.svg
Due: check-yaml, check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Update email
  docs/code-of-conduct.md
  wiki/Code-of-Conduct.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

PR feedback
  .llm/context.md
  .llm/skills/changelog-practices.md
  .llm/skills/public-api-design.md
  .llm/skills/rust-idioms-patterns.md
  CHANGELOG.md
  docs/user-guide.md
  src/lib.rs
  tests/network/multi_process.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/context.md
  .llm/skills/changelog-practices.md
  .llm/skills/documentation-code-consistency.md
  .llm/skills/network-chaos-testing.md
  CHANGELOG.md
  docs/architecture.md
  docs/user-guide.md
  tests/network/multi_process.rs
  wiki/Architecture.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Documentation Accuracy + Fmt impls (#74)
  .llm/context.md
  .llm/skills/changelog-practices.md
  .llm/skills/documentation-code-consistency.md
  .llm/skills/network-chaos-testing.md
  .llm/skills/public-api-design.md
  .llm/skills/rust-idioms-patterns.md
  .markdownlint.json
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/code-of-conduct.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  mkdocs.yml
  scripts/check-links.sh
  src/error.rs
  src/input_queue/prediction.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/messages.rs
  src/network/network_stats.rs
  src/network/protocol/event.rs
  src/network/protocol/state.rs
  src/network/tokio_socket.rs
  src/sessions/config.rs
  src/sessions/sync_health.rs
  src/telemetry.rs
  src/time_sync.rs
  tests/network/multi_process.rs
  wiki/Architecture.md
  wiki/Code-of-Conduct.md
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
  wiki/assets/logo-banner.svg
Due: check-yaml, check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 028eadff890aca63453cb3454b4871670c70df3c
  bench/data.js
Due: none

Bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

Bump version (0.4.1) (#75)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: check-toml, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 7abd66fe66e761dab5f1d4d40d59f3520c632987
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for be03ad2b495cee8d3ef9450a9ebccf63c79d7068
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 14f9ad04cf2b437bb3df3d2fa4357ab4ea84e6b9
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 4e4a11d6cface7021090969cbd9d15a1974f713f
  bench/data.js
Due: none

Various updates
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/migration.md
  docs/user-guide.md
  examples/request_handling.rs
  examples/sync_test.rs
  specs/tla/README.md
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/sessions/p2p_session.rs
  src/sessions/player_registry.rs
  src/sessions/sync_test_session.rs
  tests/sessions/p2p.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Home.md
  wiki/Spec-Divergences.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/documentation-code-consistency.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  wiki/API-Contracts.md
  wiki/User-Guide.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

PR feedback
  .llm/skills/documentation-code-consistency.md
  docs/specs/spec-divergences.md
  docs/user-guide.md
  src/sessions/p2p_session.rs
  wiki/Spec-Divergences.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Fix CI/CD
  .llm/skills/wiki-sync-conventions.md
  scripts/check-links.sh
  scripts/tests/test_sync_wiki.py
  wiki/User-Guide.md
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax, wiki-consistency

PR feedback
  .llm/skills/rust-idioms-patterns.md
  docs/architecture.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  src/lib.rs
  wiki/Architecture.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Syntax Sugar and Optimizations (#81)
  .llm/skills/documentation-code-consistency.md
  .llm/skills/rust-idioms-patterns.md
  .llm/skills/wiki-sync-conventions.md
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/specs/spec-divergences.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  examples/request_handling.rs
  examples/sync_test.rs
  scripts/check-links.sh
  scripts/tests/test_sync_wiki.py
  specs/tla/README.md
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/sessions/p2p_session.rs
  src/sessions/player_registry.rs
  src/sessions/sync_test_session.rs
  tests/sessions/p2p.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Home.md
  wiki/Spec-Divergences.md
  wiki/User-Guide.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 0abc14285ff1e3725f7eaf2da700ed852c0cc5f5
  bench/data.js
Due: none

Bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  scripts/sync-version.sh
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

v5 release (#82)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  scripts/sync-version.sh
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 780e549e652cfa6eff408d2c9e31ae05522e0f88
  bench/data.js
Due: none

Session abstraction
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  examples/request_handling.rs
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/sessions/event_drain.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/session_trait.rs
  src/sessions/sync_test_session.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/common/test_utils.rs
  tests/network-peer/src/main.rs
  tests/sessions.rs
  tests/sessions/macro_tests.rs
  tests/sessions/session_trait.rs
  wiki/API-Contracts.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/documentation-code-consistency.md
  docs/user-guide.md
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/sync_test_session.rs
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Session abstraction (#85)
  .llm/skills/documentation-code-consistency.md
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  docs/user-guide.md
  examples/ex_game/ex_game.rs
  examples/request_handling.rs
  src/error.rs
  src/lib.rs
  src/prelude.rs
  src/sessions/event_drain.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/session_trait.rs
  src/sessions/sync_test_session.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/common/test_utils.rs
  tests/network-peer/src/main.rs
  tests/sessions.rs
  tests/sessions/macro_tests.rs
  tests/sessions/session_trait.rs
  wiki/API-Contracts.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Version updates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 9e7d17e7ac499cf7d0c1d37bad87f26160fe454f
  bench/data.js
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
