Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Potential fixes
  .github/workflows/ci-docs.yml
  .lychee.toml
  .markdown-link-check.json
  scripts/tests/test_external_link_checker_config.py
  src/network/messages.rs
Due: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

CI fixes
  .config/nextest.toml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  scripts/ci/docker-network-tests.sh
  tests/common/mod.rs
  tests/common/test_utils.rs
  tests/network/multi_process.rs
  tests/verification/property.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

CI fixe
  .github/workflows/ci-docs.yml
  .llm/skills/ci-cd-tooling/doc-code-sync.md
  scripts/ci/agent-preflight.py
  scripts/docs/check-tla-config-consistency.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_tla_config_consistency.py
  specs/tla/README.md
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Cool stuff
  .github/workflows/ci-verification.yml
  scripts/verification/verify-tla.sh
  specs/tla/ChecksumExchange.cfg
  specs/tla/NPeerReactivation.cfg
  specs/tla/NPeerReactivation.tla
Due: check-yaml, actionlint

PR feedback
  .llm/context.md
  .llm/skills/testing/network-chaos-testing.md
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/hooks/agent-typos.py
  scripts/hooks/check-tomllib-fallback.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_agent_typos.py
  scripts/tests/test_check_tomllib_fallback.py
  scripts/tests/test_external_link_checker_config.py
  scripts/verification/verify-tla.sh
  tests/network/multi_process.rs
  tests/verification/property.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Fix network codec
  .github/workflows/ci-docs.yml
  .github/workflows/ci-rust.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_git_hook_policy.py
  scripts/tests/test_wire_endianness.py
  src/network/codec.rs
  src/network/codec_depth.rs
  src/replay.rs
  src/rng.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Test clocks!
  .config/nextest.toml
  .github/workflows/ci-network-nightly.yml
  .llm/context.md
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/hooks/check-network-timing-invariants.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_network_timing_invariants.py
  src/network/protocol/mod.rs
  tests/network/multi_process.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

PR feedback
  tests/network/multi_process.rs
  tests/verification/property.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 3e8e7eb630f2e69bac731f7398d58ad4c8690193
  bench/data.js
Due: none

Hot Join correctness
  CHANGELOG.md
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

TLA goodies
  specs/tla/DoubleFailureRelay.cfg
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckGossip.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundEpoch_Reorder.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Cold.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Cold_Witness.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Live.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Reorder.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundRound_Reorder.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundRound_Reorder_Live.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundRound_Reorder_Witness.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound_Cold.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound_Witness.cfg
  specs/tla/DoubleFailureRelay_AsyncAckStale.cfg
  specs/tla/DoubleFailureRelay_AsyncAckTwoPhase.cfg
  specs/tla/DoubleFailureRelay_Baseline.cfg
  specs/tla/DoubleFailureRelay_InheritedFloor.cfg
  specs/tla/DoubleFailureRelay_Tombstone.cfg
  specs/tla/DoubleFailureRelay_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

More safety
  specs/tla/README.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Even more TLA
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckSoundRoundSeq_Reorder.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundRoundSeq_Reorder_Live.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundRoundSeq_Reorder_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

Final codec fixes
  CHANGELOG.md
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for ae75c3fcdf2b292d3068e30cdaa684a426bdcef9
  bench/data.js
Due: none

More TLA
  scripts/verification/verify-tla.sh
  specs/tla/README.md
  specs/tla/SpectatorReactivationEpoch.cfg
  specs/tla/SpectatorReactivationEpoch.tla
  specs/tla/SpectatorReactivationEpoch_EpochBlind.cfg
  specs/tla/SpectatorReactivationEpoch_EpochProvOnly.cfg
Due: markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/skills/ci-cd-tooling/doc-code-sync.md
  .typos.toml
  scripts/ci/agent-preflight.py
  scripts/docs/check-tla-config-consistency.py
  scripts/tests/test_check_tla_config_consistency.py
  src/network/messages.rs
  src/sessions/p2p_session.rs
  tests/network/multi_process.rs
Due: check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  CHANGELOG.md
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/ci-cd-tooling/doc-code-sync.md
  scripts/ci/check-doc-claims.sh
  scripts/tests/test_check_doc_claims_floor_ids.py
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckSoundEpoch_Reorder.cfg
  specs/tla/README.md
  src/network/protocol/mod.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 87196ccbfb60f3863723b179d49480a2f8c05e06
  bench/data.js
Due: none

More session tests
  tests/common/filter_socket.rs
  tests/common/mod.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix telemetry observers
  CHANGELOG.md
  src/sessions/p2p_session.rs
  src/sessions/sync_test_session.rs
  src/telemetry.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Gossip protocol deliverance
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

TLA formal spec n-peer freeze
  scripts/verification/verify-tla.sh
  specs/tla/NPeerServeFreezeConvergence.cfg
  specs/tla/NPeerServeFreezeConvergence.tla
  specs/tla/NPeerServeFreezeConvergence_GateBlind.cfg
  specs/tla/NPeerServeFreezeConvergence_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

Doc Fixes
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/replay.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  docs/telemetry.md
  docs/user-guide.md
  examples/README.md
  llms.txt
  src/sessions/builder.rs
  src/sessions/p2p_spectator_session.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/Replay.md
  wiki/Spec-Divergences.md
  wiki/Telemetry.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

CI fixes
  .lychee.toml
  scripts/tests/test_external_link_checker_config.py
  scripts/tests/test_verify_markdown_code.py
  specs/tla/README.md
Due: check-toml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .llm/skills/rust-language/concurrency.md
  CHANGELOG.md
  src/telemetry.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f9d3b6b636f486e75f65ec026f7d0fd36e362c67
  bench/data.js
Due: none

Doc Upgrades + Release Target Fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/publish.yml
  .github/workflows/sync-issue-template.yml
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/index.md
  docs/user-guide.md
  scripts/sync-version.sh
  scripts/tests/test_changelog_release_consolidation.py
  scripts/tests/test_issue_template_versions_wiring.py
  scripts/tests/test_no_unaffiliated_links.py
  scripts/tests/test_sync_version.py
  src/lib.rs
  wiki/Architecture.md
  wiki/Home.md
  wiki/User-Guide.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .cargo/config.toml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-verification.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_git_hook_policy.py
Due: check-yaml, check-toml, check-empty-tests, actionlint

PR feedback
  .github/workflows/publish.yml
  .llm/skills/publishing-organization/changelog.md
  scripts/ci/sync-issue-template-versions.py
  scripts/pre-commit
  scripts/sync-version.sh
  scripts/tests/test_git_hook_policy.py
  scripts/tests/test_issue_template_versions_wiring.py
  scripts/tests/test_sync_issue_template_versions.py
  scripts/tests/test_sync_version.py
Due: check-yaml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Doc Upgrades + Release Target Fixes (#184)
  .cargo/config.toml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-verification.yml
  .github/workflows/publish.yml
  .github/workflows/sync-issue-template.yml
  .llm/skills/publishing-organization/changelog.md
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/index.md
  docs/user-guide.md
  scripts/ci/sync-issue-template-versions.py
  scripts/pre-commit
  scripts/sync-version.sh
  scripts/tests/test_changelog_release_consolidation.py
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_git_hook_policy.py
  scripts/tests/test_issue_template_versions_wiring.py
  scripts/tests/test_no_unaffiliated_links.py
  scripts/tests/test_sync_issue_template_versions.py
  scripts/tests/test_sync_version.py
  src/lib.rs
  wiki/Architecture.md
  wiki/Home.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 505d631f9357be3964f3ae24b076043957c7bac0
  bench/data.js
Due: none

Potential hardening (1)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/common/mod.rs
  tests/common/sim_net.rs
  tests/network.rs
  tests/network/deterministic_ping.rs
  tests/simulation.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

M2 §5.1: wire-exact bandwidth accounting (D1 fix)
  CHANGELOG.md
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

changelog: consolidate [Unreleased] entries into in-flight 0.9.0
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

Address Copilot review: kbps unit fix + oracle violation-path coverage
  CHANGELOG.md
  src/network/network_stats.rs
  src/network/protocol/mod.rs
  tests/simulation/harness/oracle.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
