Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

Clarify simulation trace tail test
  tests/simulation/harness/artifact.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Reuse simulation trace serialization buffer
  src/sessions/p2p_session.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Build simulation failure pipeline and harden disconnect recovery (#218)
  .config/nextest.toml
  .github/workflows/ci-simulation-nightly.yml
  .gitignore
  CHANGELOG.md
  scripts/simulation/promote-artifact.sh
  specs/tla/PeerDrop.tla
  specs/tla/README.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/sessions/peer_drop.rs
  tests/simulation.rs
  tests/simulation/baselines/sweep-v2.json
  tests/simulation/corpus/001-d8-cold-start-gossip-stall.json
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/oracle.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
  tests/simulation/known_failures/d14-lossy-graceful-remove.json
Due: check-yaml, check-toml, check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for abd2a7febab3e63358fb1324e20150be07a6e12c
  bench/data.js
Due: none

Pin N-peer hot-join metrics lifecycle
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Bound event retention by priority
  CHANGELOG.md
  docs/user-guide.md
  src/metrics.rs
  src/sessions/builder.rs
  src/sessions/event_drain.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/replay_session.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Regenerate event retention wiki
  wiki/User-Guide.md
Due: markdownlint, check-links, check-code-fence-syntax, wiki-consistency

Unify P2P event overflow accounting
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Harden hot-join metrics and bounded event retention (#219)
  CHANGELOG.md
  docs/user-guide.md
  src/metrics.rs
  src/sessions/builder.rs
  src/sessions/event_drain.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/replay_session.rs
  src/sync_layer/mod.rs
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 59f0dcd94d91462f299d6eece700ed1a663186c8
  bench/data.js
Due: none

Document connector-first GitHub access
  .llm/context.md
Due: markdownlint, check-links, check-code-fence-syntax

Add asymmetric minority partition census
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Add asymmetric minority partition census (#220)
  .llm/context.md
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 2b2ba0161abf4af5011484ff148eece8a611e137
  bench/data.js
Due: none

Expose unknown-source packet telemetry
  CHANGELOG.md
  src/metrics.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Document telemetry under Unreleased
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

Fix UDP receive-loop comment
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Model deterministic NAT rebinding
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify rebind history semantics
  tests/common/sim_net.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Model Gilbert-Elliott correlated loss
  .llm/design-history/network.txt
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify rebind shrink coverage
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Pin clean N-peer hot-join wedge
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Close N-peer hot-join barrier defect
  tests/simulation/census.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Gate hot-join RNG imports
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Model fragmentation-amplified loss
  .llm/design-history/network.txt
  src/lib.rs
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Probe fragmentation backlog recovery
  tests/simulation/census.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Reject mixed fragmentation retransmission
  tests/common/sim_net.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Preserve rollback floor during full recovery
  .llm/design-history/sync-layer.txt
  CHANGELOG.md
  docs/migration.md
  src/input_queue/mod.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Probe input redundancy window boundary
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Sync input-window migration wiki
  wiki/Migration.md
Due: markdownlint, check-links, check-code-fence-syntax, wiki-consistency

Harden lifecycle wire probing
  src/sessions/p2p_session.rs
  tests/common/sim_net.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Clarify full-ring capacity diagnostics
  src/input_queue/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Expose unknown-source packet telemetry (#221)
  .llm/design-history/network.txt
  .llm/design-history/sync-layer.txt
  CHANGELOG.md
  docs/migration.md
  src/input_queue/mod.rs
  src/lib.rs
  src/metrics.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sync_layer/mod.rs
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
  wiki/Migration.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 1e3056cf433220ae19a20ce7a2b177db57d0b011
  bench/data.js
Due: none

Model bounded bandwidth queueing
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Reject oversized horizon datagrams
  tests/common/sim_net.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fail closed on bandwidth deadline overflow
  tests/common/sim_net.rs
  tests/simulation/census.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Model bounded bandwidth queueing (#222)
  tests/common/sim_net.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/census.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

commit goal
  .gitignore
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 69f5c51cf3ab7e5559ac91fbaaed31df809f7a46
  bench/data.js
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
