Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Sparse save bug fxies
  CHANGELOG.md
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sync_layer/mod.rs
  tests/common/filter_socket.rs
  tests/common/stubs.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More bug fixes
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More fixes
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/time_sync.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Further test improvements
  tests/common/filter_socket.rs
  tests/common/mod.rs
  tests/network-peer/src/main.rs
  tests/network/multi_process.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

More TLA+ verification for N >= 3
  scripts/verification/verify-tla.sh
  specs/tla/ChecksumExchange.cfg
  specs/tla/NetworkProtocol.cfg
  specs/tla/README.md
  specs/tla/TimeSync.cfg
  src/sessions/p2p_session.rs
  tests/sessions.rs
  tests/sessions/desync_harvest.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More TLA+ verification
  scripts/verification/verify-tla.sh
  specs/tla/NPeerReactivation.cfg
  specs/tla/NPeerReactivation.tla
  specs/tla/NPeerReactivation_NoPA.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

Incorrect fixes (red/green)
  tests/sessions/desync_harvest.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix desync possibility from initial GGRS port
  .llm/context.md
  .llm/skills/publishing-organization/changelog.md
  CHANGELOG.md
  scripts/hooks/check-changelog-unreleased.py
  scripts/tests/test_check_changelog_unreleased.py
  scripts/verification/verify-kani.sh
  src/input_queue/mod.rs
  tests/common/mod.rs
  tests/common/reorder_socket.rs
  tests/network-peer/src/main.rs
  tests/network/multi_process.rs
  tests/sessions/desync_harvest.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Further fixes
  CHANGELOG.md
  specs/tla/ChecksumExchange.cfg
  specs/tla/ChecksumExchange.tla
  specs/tla/README.md
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More fixes
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/sessions/peer_drop.rs
  tests/verification/z3.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More hot-join fixes
  specs/tla/NPeerReactivation.cfg
  specs/tla/NPeerReactivation.tla
  specs/tla/NPeerReactivation_NoPA.cfg
  src/input_queue/mod.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

feat/bug-fix: Hot-Join + Desync Fixes (#172)
  .gitignore
  .llm/context.md
  .llm/skills/publishing-organization/changelog.md
  CHANGELOG.md
  scripts/hooks/check-changelog-unreleased.py
  scripts/tests/test_check_changelog_unreleased.py
  scripts/verification/verify-kani.sh
  scripts/verification/verify-tla.sh
  specs/tla/ChecksumExchange.cfg
  specs/tla/ChecksumExchange.tla
  specs/tla/NPeerReactivation.cfg
  specs/tla/NPeerReactivation.tla
  specs/tla/NPeerReactivation_NoPA.cfg
  specs/tla/NetworkProtocol.cfg
  specs/tla/README.md
  specs/tla/TimeSync.cfg
  src/input_queue/mod.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sync_layer/mod.rs
  src/time_sync.rs
  tests/common/filter_socket.rs
  tests/common/mod.rs
  tests/common/reorder_socket.rs
  tests/common/stubs.rs
  tests/network-peer/src/main.rs
  tests/network/multi_process.rs
  tests/sessions.rs
  tests/sessions/desync_harvest.rs
  tests/sessions/hot_join.rs
  tests/sessions/peer_drop.rs
  tests/verification/z3.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 09b8a0962041b2875fe695e5b9eb08efb487727e
  bench/data.js
Due: none

Next chunk of hot join work
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

More mesh fixes
  CHANGELOG.md
  src/input_queue/mod.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/sessions/hot_join.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  docs/architecture.md
  scripts/ci/check-doc-claims.sh
  scripts/tests/test_ci_regex_portability.py
  src/network/codec.rs
  src/network/protocol/input_bytes.rs
  wiki/Architecture.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

bugfix: Hot Join Correctness (#176)
  .llm/skills/rust-language/defensive-programming.md
  CHANGELOG.md
  docs/architecture.md
  scripts/ci/check-doc-claims.sh
  scripts/tests/test_ci_regex_portability.py
  src/input_queue/mod.rs
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sync_layer/mod.rs
  tests/sessions/hot_join.rs
  wiki/Architecture.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 90b0f1deee669e9751b295ed48d0536f99b5d3b4
  bench/data.js
Due: none

More TLA
  CHANGELOG.md
  scripts/verification/verify-tla.sh
  specs/tla/FreezeConvergence.cfg
  specs/tla/FreezeConvergence.tla
  specs/tla/InputQueue.tla
  specs/tla/README.md
  src/input_queue/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More TLA
  scripts/verification/verify-tla.sh
  specs/tla/FrameAdvantageAggregation.cfg
  specs/tla/FrameAdvantageAggregation.tla
  specs/tla/README.md
  specs/tla/TimeSync.cfg
  specs/tla/TimeSync.tla
Due: markdownlint, check-links, check-code-fence-syntax

Multi host TLA
  scripts/verification/verify-tla.sh
  specs/tla/README.md
  specs/tla/SpectatorFailover.cfg
  specs/tla/SpectatorFailover.tla
  specs/tla/SpectatorSession.tla
Due: markdownlint, check-links, check-code-fence-syntax

Fix TLA
  specs/tla/SpectatorFailover.tla
Due: none

feat: TLA+ Hardening, Minor Bug Fixes (#177)
  CHANGELOG.md
  scripts/verification/verify-tla.sh
  specs/tla/FrameAdvantageAggregation.cfg
  specs/tla/FrameAdvantageAggregation.tla
  specs/tla/FreezeConvergence.cfg
  specs/tla/FreezeConvergence.tla
  specs/tla/InputQueue.tla
  specs/tla/README.md
  specs/tla/SpectatorFailover.cfg
  specs/tla/SpectatorFailover.tla
  specs/tla/SpectatorSession.tla
  specs/tla/TimeSync.cfg
  specs/tla/TimeSync.tla
  src/input_queue/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 864308c721354e4f0e8d11db2547df5aa8b6836d
  bench/data.js
Due: none

N>=3 chaos sockets
  tests/common/channel_socket.rs
  tests/common/mod.rs
  tests/network/in_process_chaos.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

More checks for N>=4 safety
  src/sessions/p2p_session.rs
  tests/sessions/peer_drop.rs
  tests/verification/z3.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

More TLA verification
  scripts/verification/verify-tla.sh
  specs/tla/DoubleFailureRelay.cfg
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_Baseline.cfg
  specs/tla/DoubleFailureRelay_Tombstone.cfg
  specs/tla/DoubleFailureRelay_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

Codec defense in depth
  CHANGELOG.md
  src/lib.rs
  src/network/codec.rs
  src/network/codec_depth.rs
  src/network/protocol/mod.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_health.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Minor updates
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_InheritedFloor.cfg
  specs/tla/README.md
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .llm/context.md
  scripts/ci/agent-preflight.py
  scripts/ci/check-doc-claims.sh
  scripts/hooks/check-rust-semantic-claims.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_rust_semantic_claims.py
  scripts/tests/test_ci_regex_portability.py
  scripts/tests/test_workflow_script_executability.py
  src/network/codec_depth.rs
  src/sessions/p2p_spectator_session.rs
  tests/common/channel_socket.rs
  tests/sessions/peer_drop.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Fix PR feedback
  src/lib.rs
  src/network/protocol/mod.rs
  src/rle.rs
  src/telemetry.rs
  tests/network/multi_process.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

More good tests
  .llm/context.md
  tests/common/test_clock.rs
  tests/common/test_utils.rs
  tests/network/multi_process.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

feat: Peer-Mesh Hardening (#178)
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .llm/context.md
  CHANGELOG.md
  scripts/ci/agent-preflight.py
  scripts/ci/check-doc-claims.sh
  scripts/hooks/check-rust-semantic-claims.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_rust_semantic_claims.py
  scripts/tests/test_ci_regex_portability.py
  scripts/tests/test_workflow_script_executability.py
  scripts/verification/verify-tla.sh
  specs/tla/DoubleFailureRelay.cfg
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_Baseline.cfg
  specs/tla/DoubleFailureRelay_InheritedFloor.cfg
  specs/tla/DoubleFailureRelay_Tombstone.cfg
  specs/tla/DoubleFailureRelay_Witness.cfg
  specs/tla/README.md
  src/lib.rs
  src/network/codec.rs
  src/network/codec_depth.rs
  src/network/protocol/mod.rs
  src/rle.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/sync_health.rs
  src/telemetry.rs
  tests/common/channel_socket.rs
  tests/common/mod.rs
  tests/common/test_clock.rs
  tests/common/test_utils.rs
  tests/network/in_process_chaos.rs
  tests/network/multi_process.rs
  tests/sessions/peer_drop.rs
  tests/verification/z3.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for e740b7a433e0ee7bae11f99f2e9aba4816067de7
  bench/data.js
Due: none

Re-Arm monotonic
  CHANGELOG.md
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More spec hardening
  CHANGELOG.md
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

More TLA specs
  specs/tla/DoubleFailureRelay.cfg
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckGossip.cfg
  specs/tla/DoubleFailureRelay_AsyncAckStale.cfg
  specs/tla/DoubleFailureRelay_AsyncAckTwoPhase.cfg
  specs/tla/DoubleFailureRelay_Baseline.cfg
  specs/tla/DoubleFailureRelay_InheritedFloor.cfg
  specs/tla/DoubleFailureRelay_Tombstone.cfg
  specs/tla/DoubleFailureRelay_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

More TLA+ specs
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckSound.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

More TLA modeling
  specs/tla/DoubleFailureRelay.cfg
  specs/tla/DoubleFailureRelay.tla
  specs/tla/DoubleFailureRelay_AsyncAckGossip.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Cold.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Cold_Witness.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSoundFresh_Live.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound_Cold.cfg
  specs/tla/DoubleFailureRelay_AsyncAckSound_Witness.cfg
  specs/tla/DoubleFailureRelay_AsyncAckStale.cfg
  specs/tla/DoubleFailureRelay_AsyncAckTwoPhase.cfg
  specs/tla/DoubleFailureRelay_Baseline.cfg
  specs/tla/DoubleFailureRelay_InheritedFloor.cfg
  specs/tla/DoubleFailureRelay_Tombstone.cfg
  specs/tla/DoubleFailureRelay_Witness.cfg
  specs/tla/README.md
Due: markdownlint, check-links, check-code-fence-syntax

N<=2 defect prevention
  CHANGELOG.md
  specs/tla/README.md
  src/network/codec.rs
  src/network/messages.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/sessions/peer_drop.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check
