Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 71d9ca03f7aa05528793b0a6bf4ce01fe40f66fa
  bench-informational/data.js
Due: none

Eliminate empty graceful-drop poll reservations
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Eliminate empty graceful-drop poll reservations (#277)
  CHANGELOG.md
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 79cb86dd4c5011feecc4d4cdf9e7dd265ef8e6eb
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 79cb86dd4c5011feecc4d4cdf9e7dd265ef8e6eb
  bench-informational/data.js
Due: none

Make dropped-input Miri regression deterministic
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Make dropped-input Miri regression deterministic (#279)
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bbabac808dd381a6835627c134bf7c90583fc4bf
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for bbabac808dd381a6835627c134bf7c90583fc4bf
  bench-informational/data.js
Due: none

security: remove advisory-affected examples
  .agents/skills/design-decisions/references/dependencies.txt
  .agents/skills/design-decisions/references/index.md
  .cargo/mutants.toml
  .devcontainer/Dockerfile
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  docs/migration.md
  docs/user-guide.md
  examples/README.md
  examples/configuration.rs
  examples/custom_socket.rs
  examples/error_handling.rs
  examples/ex_game/ex_game.rs
  examples/ex_game/ex_game_p2p.rs
  examples/ex_game/ex_game_spectator.rs
  examples/ex_game/ex_game_synctest.rs
  examples/sync_test.rs
  llms.txt
  loom-tests/README.md
  scripts/build/check-cargo-hack.py
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_git_hook_policy.py
  supply-chain/config.toml
  tests/loom_concurrency.rs
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

security: freeze bincode compatibility formats
  .agents/skills/design-decisions/references/index.md
  .agents/skills/design-decisions/references/serialization.txt
  .github/workflows/ci-security.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.toml
  deny.toml
  scripts/ci/agent-preflight.py
  scripts/ci/check-advisory-dispositions.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_advisory_dispositions.py
  scripts/tests/test_check_wire_golden_immutable.py
  src/lib.rs
  src/serialization_golden_bincode_2_0_1.rs
  supply-chain/advisory-dispositions.toml
  supply-chain/config.toml
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Harden rewritten checkpoint fixture
  scripts/tests/test_release_checkpoint.py
Due: check-empty-tests

security: remove advisory-affected graphical examples (#280)
  .agents/skills/design-decisions/references/dependencies.txt
  .agents/skills/design-decisions/references/index.md
  .cargo/mutants.toml
  .devcontainer/Dockerfile
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  docs/migration.md
  docs/user-guide.md
  examples/README.md
  examples/configuration.rs
  examples/custom_socket.rs
  examples/error_handling.rs
  examples/ex_game/ex_game.rs
  examples/ex_game/ex_game_p2p.rs
  examples/ex_game/ex_game_spectator.rs
  examples/ex_game/ex_game_synctest.rs
  examples/sync_test.rs
  llms.txt
  loom-tests/README.md
  scripts/build/check-cargo-hack.py
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_git_hook_policy.py
  supply-chain/config.toml
  tests/loom_concurrency.rs
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Harden bounded bincode input decoding
  CHANGELOG.md
  src/lib.rs
  src/network/codec.rs
  src/network/codec_depth.rs
  src/replay.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 20caf394a1f157a4cfbe2877f6891f657a3184ad
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 20caf394a1f157a4cfbe2877f6891f657a3184ad
  bench-informational/data.js
Due: none

Harden rewritten release fixture
  scripts/tests/test_release_checkpoint.py
Due: check-empty-tests

security: freeze bincode compatibility formats (#282)
  .agents/skills/design-decisions/references/index.md
  .agents/skills/design-decisions/references/serialization.txt
  .github/workflows/ci-security.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.toml
  deny.toml
  scripts/ci/agent-preflight.py
  scripts/ci/check-advisory-dispositions.py
  scripts/hooks/check-wire-golden-immutable.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_advisory_dispositions.py
  scripts/tests/test_check_wire_golden_immutable.py
  scripts/tests/test_release_checkpoint.py
  src/lib.rs
  src/serialization_golden_bincode_2_0_1.rs
  supply-chain/advisory-dispositions.toml
  supply-chain/config.toml
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bdcd24ae97634b26d56c61c5384065029140386e
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for bdcd24ae97634b26d56c61c5384065029140386e
  bench-informational/data.js
Due: none

Harden bounded bincode input decoding (#283)
  CHANGELOG.md
  src/lib.rs
  src/network/codec.rs
  src/network/codec_depth.rs
  src/replay.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for ead1837497cf8de075c9024dbb6a6c9f0276db0e
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for ead1837497cf8de075c9024dbb6a6c9f0276db0e
  bench-informational/data.js
Due: none

Stabilize spectator tests with a frozen clock
  src/sessions/p2p_spectator_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Refresh Python and browser test dependencies
  requirements-docs.txt
  scripts/release/requirements.txt
  tests/godot-emscripten/package-lock.json
  tests/godot-emscripten/package.json
Due: check-json

Keep rewritten checkpoint fixture objects reachable
  scripts/tests/test_release_checkpoint.py
Due: check-empty-tests

Replace bincode with maintained compatible fork
  .agents/skills/design-decisions/references/serialization.txt
  .github/dependabot.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  deny.toml
  docs/README.md
  docs/architecture.md
  docs/migration.md
  docs/replay.md
  docs/specs/determinism-model.md
  docs/user-guide.md
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  src/checksum.rs
  src/lib.rs
  src/network/codec.rs
  src/replay.rs
  src/sessions/hot_join.rs
  supply-chain/advisory-dispositions.toml
  tests/godot-emscripten/Cargo.lock
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Migration.md
  wiki/Replay.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Fix ARM64 release linker override
  .github/workflows/ci-rust.yml
  Cross.toml
  scripts/build/cargo_linker.py
  scripts/tests/test_cargo_linker.py
Due: check-yaml, check-toml, check-empty-tests, actionlint

Preserve caller Rust flags in linker fallback
  scripts/build/cargo_linker.py
  scripts/tests/test_cargo_linker.py
Due: check-empty-tests

Close remaining hardening issues (#284)
  .agents/skills/design-decisions/references/serialization.txt
  .github/dependabot.yml
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Cross.toml
  deny.toml
  docs/README.md
  docs/architecture.md
  docs/migration.md
  docs/replay.md
  docs/specs/determinism-model.md
  docs/user-guide.md
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  requirements-docs.txt
  scripts/build/cargo_linker.py
  scripts/release/requirements.txt
  scripts/tests/test_cargo_linker.py
  scripts/tests/test_release_checkpoint.py
  src/checksum.rs
  src/lib.rs
  src/network/codec.rs
  src/replay.rs
  src/sessions/hot_join.rs
  src/sessions/p2p_spectator_session.rs
  supply-chain/advisory-dispositions.toml
  tests/godot-emscripten/Cargo.lock
  tests/godot-emscripten/package-lock.json
  tests/godot-emscripten/package.json
  wiki/Architecture.md
  wiki/Determinism-Model.md
  wiki/Migration.md
  wiki/Replay.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 734c802dbcb5bbfb0930fbf12e278a33ce3233ce
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 734c802dbcb5bbfb0930fbf12e278a33ce3233ce
  bench-informational/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for f1d0c47253c981c1da7cf40fe0a27bfc91a3caab
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for f1d0c47253c981c1da7cf40fe0a27bfc91a3caab
  bench-informational/data.js
Due: none

fix(ci): wait for transient required checks safely
  scripts/ci/enable-dependabot-automerge.sh
  scripts/tests/test_enable_dependabot_automerge.py
Due: check-empty-tests

chore(deps): refresh CI and fixture toolchains
  .github/workflows/ci-rust.yml
  Cargo.lock
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  scripts/release/requirements.txt
  scripts/tests/test_ci_rust_workflow.py
  tests/godot-emscripten/Cargo.lock
  tests/godot-emscripten/Cargo.toml
  tests/godot-emscripten/browser.spec.mjs
  tests/godot-emscripten/run.sh
  tests/wasm-browser-smoke/Cargo.toml
Due: check-yaml, check-toml, check-empty-tests, actionlint, cargo-hack-check

ci: enforce expanded static analysis
  .github/dependabot.yml
  .github/workflows/ci-codeql.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-quality.yml
  loom-tests/Cargo.toml
  ruff.toml
  scripts/ci/check-changelog-format.sh
  scripts/ci/check-emscripten-dependencies.sh
  scripts/ci/sync-issue-template-versions.py
  scripts/ci/test-verify-sccache.sh
  scripts/docs/check-links.py
  scripts/docs/check-wiki-consistency.py
  scripts/docs/verify-markdown-code.sh
  scripts/hooks/check-changelog-unreleased.py
  scripts/release/main_ruleset.py
  scripts/release/publish_state.py
  scripts/simulation/promote-artifact.sh
  scripts/sync-version.sh
  scripts/tests/test_check_agent_skills.sh
  scripts/tests/test_check_wiki_consistency.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_docs_sidebar_layout.py
  scripts/tests/test_sync_wiki.py
  scripts/tests/test_workflow_script_executability.py
  scripts/verification/check-kani-violation-cost.sh
  scripts/verification/verify-all.sh
Due: check-yaml, check-toml, check-empty-tests, actionlint, cargo-hack-check

test(network): stabilize multiprocess completion
  tests/network-peer/src/main.rs
  tests/network/multi_process.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

fix(ci): verify cargo-shear archive directly
  .github/workflows/ci-quality.yml
  scripts/tests/test_ci_static_analysis.py
Due: check-yaml, check-empty-tests, actionlint

ci: retain CodeQL SARIF diagnostics
  .github/workflows/ci-codeql.yml
  scripts/tests/test_ci_static_analysis.py
Due: check-yaml, check-empty-tests, actionlint
