Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

add Fortress Rollback Benchmarks (cargo) benchmark result for 0370e8a7dd71e59d6f72d89d14feeebec6f7a382
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 0370e8a7dd71e59d6f72d89d14feeebec6f7a382
  bench-informational/data.js
Due: none

ci: handle empty mutation corpora
  .github/workflows/ci-mutation.yml
  progress/session-171-zero-mutant-release-ci.md
  scripts/tests/test_ci_mutation_workflow.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

ci: handle empty mutation corpora (#306)
  .github/workflows/ci-mutation.yml
  progress/session-171-zero-mutant-release-ci.md
  scripts/tests/test_ci_mutation_workflow.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax, actionlint

docs: align release notes with changelog policy
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

docs: align release notes with changelog policy (#308)
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

add Fortress Rollback Benchmarks (cargo) benchmark result for 9db0f8abd2bfb829f243c6e2fae6ce8b2fce4af5
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 9db0f8abd2bfb829f243c6e2fae6ce8b2fce4af5
  bench-informational/data.js
Due: none

chore(plan): enforce active queue hygiene
  .agents/skills/dev-pipeline/SKILL.md
  .agents/skills/dst/SKILL.md
  .agents/skills/dst/references/fleet-search-roadmap.md
  .agents/skills/fortress-development/SKILL.md
  .pre-commit-config.yaml
  scripts/ci/agent-preflight.py
  scripts/docs/check-links.py
  scripts/hooks/check-plan-hygiene.py
  scripts/hooks/markdownlint.py
  scripts/tests/test_agent_preflight.py
  scripts/tests/test_check_links.py
  scripts/tests/test_plan_hygiene.py
  scripts/tests/test_python_typing.py
  scripts/verification/verify-all.sh
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/oracle.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

chore(devcontainer): refresh AI tools and bound artifacts
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer-bootstrap.sh
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer-build.yml
  .gitignore
  scripts/ci/check-tools.sh
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-yaml, check-json, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

ci: avoid bundled Z3 in unsafe audit
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix(example): bound custom transport queues
  .github/workflows/ci-rust.yml
  examples/README.md
  examples/custom_socket.rs
  scripts/tests/test_ci_rust_workflow.py
  tests/sessions/hot_join.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

fix(api): make frame and RNG inputs total
  CHANGELOG.md
  docs/specs/api-contracts.md
  src/lib.rs
  src/rng.rs
  wiki/API-Contracts.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

docs(api): clarify integration ownership and features
  CHANGELOG.md
  Cargo.toml
  docs/migration.md
  docs/user-guide.md
  src/network/tokio_socket.rs
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

fix(rng): make probability endpoints exact
  .devcontainer/Dockerfile
  CHANGELOG.md
  src/rng.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

fix(devcontainer): constrain automatic target cleanup
  .devcontainer/README.md
  .devcontainer/devcontainer-bootstrap.sh
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

fix(ci): fail closed on incomplete unsafe audits
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix(api): preserve deterministic nonblocking behavior
  CHANGELOG.md
  examples/custom_socket.rs
  src/rng.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

docs(api): correct contract scope and revision
  docs/specs/api-contracts.md
  wiki/API-Contracts.md
Due: markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

test(api): exercise runtime remainder boundary
  src/lib.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

docs(changelog): omit documentation-only correction
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

fix(ci): close unsafe audit escape paths
  .devcontainer/devcontainer-bootstrap.sh
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-yaml, check-empty-tests, actionlint

fix(ci): reject incomplete audit artifacts
  .devcontainer/devcontainer-bootstrap.sh
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-yaml, check-empty-tests, actionlint

test(ci): cover fail-closed cleanup checks
  .github/workflows/ci-security.yml
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-yaml, check-empty-tests, actionlint

test(devcontainer): stub installed version reader
  scripts/tests/test_codex_devcontainer_setup.py
Due: check-empty-tests

test: strengthen deterministic RNG boundaries
  src/rng.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

feat: preserve spectator startup errors
  .agents/skills/design-decisions/references/network.txt
  CHANGELOG.md
  docs/architecture.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  examples/error_handling.rs
  src/error.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/sessions/builder.rs
  src/sessions/p2p_spectator_session.rs
  tests/sessions/spectator.rs
  tests/verification/z3.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

feat: preserve compression and JSON failures
  .agents/skills/design-decisions/references/release.txt
  .agents/skills/design-decisions/references/serialization.txt
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/desync-playbook.md
  docs/fortress-vs-ggrs.md
  docs/getting-started.md
  docs/migration.md
  docs/specs/api-contracts.md
  docs/telemetry.md
  docs/user-guide.md
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  src/json.rs
  src/lib.rs
  src/metrics.rs
  src/network/compression.rs
  src/network/tokio_socket.rs
  src/rle.rs
  src/telemetry.rs
  tests/godot-emscripten/Cargo.lock
  wiki/API-Contracts.md
  wiki/Desync-Playbook.md
  wiki/Fortress-vs-GGRS.md
  wiki/Getting-Started.md
  wiki/Migration.md
  wiki/Telemetry.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

test: exercise native and browser sessions at runtime
  .agents/skills/design-decisions/references/network.txt
  .github/workflows/ci-network.yml
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  Cargo.lock
  docs/production-checklist.md
  docs/specs/api-contracts.md
  docs/user-guide.md
  scripts/tests/test_ci_rust_workflow.py
  tests/tokio_session.rs
  tests/wasm-browser-smoke/Cargo.toml
  tests/wasm-browser-smoke/src/lib.rs
  wiki/API-Contracts.md
  wiki/Production-Checklist.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

api: gate complete callable public surface
  .agents/skills/design-decisions/references/release.txt
  .github/workflows/ci-rust.yml
  CHANGELOG.md
  docs/api/public-api-census.md
  docs/api/public-api-removals.tsv
  docs/api/public-api-snapshot.tsv
  docs/migration.md
  docs/specs/api-contracts.md
  scripts/api/public_api_census.py
  scripts/docs/sync-wiki.py
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_public_api_census.py
  scripts/tests/test_sync_wiki.py
  src/lib.rs
  src/rle.rs
  wiki/API-Contracts.md
  wiki/Migration.md
  wiki/Public-API-Census.md
  wiki/_Sidebar.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

test: keep Python typing inventory extensible
  scripts/tests/test_python_typing.py
Due: check-empty-tests

test: kill JSON mutation survivors
  .cargo/mutants.toml
  .github/workflows/ci-mutation.yml
  scripts/tests/test_ci_mutation_workflow.py
  src/metrics.rs
  src/telemetry.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for f610fbdcefd2b008bcc099ce6f22157ce65445a2
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for f610fbdcefd2b008bcc099ce6f22157ce65445a2
  bench-informational/data.js
Due: none

fix: harden timing and serial correctness
  .github/workflows/ci-safety.yml
  CHANGELOG.md
  docs/api/public-api-snapshot.tsv
  docs/specs/api-contracts.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  scripts/tests/test_ci_rust_workflow.py
  src/input_queue/mod.rs
  src/metrics.rs
  src/network/chaos_socket.rs
  src/network/protocol/mod.rs
  src/proof_vec.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/player_registry.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  wiki/API-Contracts.md
  wiki/Formal-Specification.md
  wiki/User-Guide.md
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

docs: record final correctness rescan
  progress/session-174-final-correctness-rescan.md
Due: check-links, check-code-fence-syntax

docs: link the correctness pull request
  progress/session-174-final-correctness-rescan.md
Due: check-links, check-code-fence-syntax

test: kill gap-fill rejection mutant
  progress/session-174-final-correctness-rescan.md
  src/input_queue/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

test: close chaos mutation gaps
  .cargo/mutants.toml
  src/network/chaos_socket.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
