Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Update CHANGELOG.md
  CHANGELOG.md
Due: markdownlint, check-links, check-code-fence-syntax

Version updates (#86)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  src/lib.rs
  src/network/tokio_socket.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
  wiki/Migration.md
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 40990d27e5dcf7510a611ee187da6317cb9dc72f
  bench/data.js
Due: none

Fix test bugs
  .llm/skills/network-chaos-testing.md
  tests/network/resilience.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Fix test bugs (#87)
  .llm/skills/network-chaos-testing.md
  tests/network/resilience.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for a94e5f2d431be07e50182f79ff835120315d4922
  bench/data.js
Due: none

Fix CI
  .github/workflows/ci-rust.yml
  .llm/skills/miri-verification.md
Due: check-yaml, markdownlint, check-links, check-code-fence-syntax, actionlint

More CI fixes
  .github/workflows/ci-rust.yml
  .gitignore
Due: check-yaml, actionlint

More CI fixes?
  .github/workflows/ci-rust.yml
Due: check-yaml, actionlint

Fix CI (#91)
  .github/workflows/ci-rust.yml
  .gitignore
  .llm/skills/miri-verification.md
Due: check-yaml, markdownlint, check-links, check-code-fence-syntax, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for 176437cf10a40980eb914031b675b37433646e34
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 05bcecb8927eb3581c04faaa3d79f2302da2cafb
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for df78c65f3a2cd8b14578803f12e0ef3c60c85d61
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for dc3930219a73b8398846878dc3c2970126d55159
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 2267fbbe2bbfac542689618a0a935de57b48e2bc
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 1e848c380db8ad1a2ce0d4b4a6d5ea78a20002e0
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 79ac7f2e3522988d59a9266d1685dba15885862b
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 24e89ba3426222b3881545a97f82358bc729d238
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for cf93c7cf2f753786247e8d2313a2802744aa6e31
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 55d1aefa9694d1a7e7d4480ac9c949d7f173ac94
  bench/data.js
Due: none

PR feedback
  .github/copilot-instructions.md
  .llm/context.md
  .llm/skills/kani-verification.md
  .tla-tools/tla2tools.jar
  AGENTS.md
  CLAUDE.md
  loom-tests/tests/loom_saved_states.rs
  scripts/check-kani-coverage.py
  scripts/check-kani-coverage.sh
  scripts/verify-kani.sh
  src/input_queue/mod.rs
  src/sync_layer/mod.rs
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .github/workflows/ci-docs.yml
  .llm/skills/ci-debugging.md
  .llm/skills/performance.md
  .llm/skills/text-parsing.md
  scripts/cargo_linker.py
  scripts/check-cargo-hack.py
  scripts/check-kani-coverage.py
  scripts/check-rustdoc-links.py
  scripts/check-wiki-consistency.py
  scripts/run-cargo-clippy.py
  scripts/tests/test_cargo_linker.py
  scripts/tests/test_check_wiki_consistency.py
  src/sync_layer/mod.rs
  src/time_sync.rs
  tests/network/multi_process.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/kani.md
  scripts/tests/test_check_llm_line_limit.py
  src/telemetry.rs
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Optimize container builds
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer-build.yml
  .tla-tools/tla2tools.jar
Due: check-yaml, check-json, markdownlint, check-links, check-code-fence-syntax, actionlint

PR feedback
  .llm/context.md
  .llm/skills/kani.md
  src/telemetry.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

PR feedback
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome.sh
  .github/workflows/ci-llm-lint.yml
  .llm/context.md
  .llm/skills/concurrency.md
  .llm/skills/cross-platform.md
  .llm/skills/ffi.md
  .llm/skills/fuzzing.md
  .llm/skills/loom.md
  .llm/skills/property-testing.md
  .llm/skills/testing.md
  .pre-commit-config.yaml
  scripts/check-llm-skills.sh
  scripts/tests/test_check_llm_skills.sh
Due: check-yaml, check-json, markdownlint, check-links, check-code-fence-syntax, actionlint

PR feedback
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci-lint.yml
  .llm/skills/scripting.md
  .pre-commit-config.yaml
  scripts/hooks/check-dockerfile.py
  scripts/tests/test_check_dockerfile.py
Due: check-yaml, check-json, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

Update TLA
  .tla-tools/tla2tools.jar
Due: none

PR feedback
  .devcontainer/Dockerfile
  .llm/skills/scripting.md
  scripts/hooks/check-dockerfile.py
  scripts/tests/test_check_dockerfile.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

add Fortress Rollback Benchmarks (cargo) benchmark result for 6eba6f3011a8f73caae8e28fe8a32a2ea19e565d
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 55f218b8ef28b8857f425c179c42d0e1d46c28ee
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for bf97a402c8a9cf1f187c52f1c3fb872f2026e5f2
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for ff0f8b975bc0f1f46c40fd3c051db002f9d3643f
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 1144cca59d23c36fbf17a919cd95e63e41535aa5
  bench/data.js
Due: none

Fix mutation testing
  .cargo/config.toml
  .cursorrules
  .devcontainer/welcome.sh
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .llm/context.md
  .llm/skills/async-rust.md
  .llm/skills/ci-debugging.md
  .llm/skills/refactoring.md
  .llm/skills/rust-pitfalls.md
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/hooks/check-track-caller-async.py
  scripts/run-cargo-clippy.py
  src/network/tokio_socket.rs
Due: check-yaml, check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

PR feedback
  scripts/hooks/check-track-caller-async.py
  scripts/tests/test_check_track_caller_async.py
Due: check-empty-tests

PR feedback
  .llm/skills/scripting.md
  scripts/hooks/check-track-caller-async.py
  scripts/tests/test_check_track_caller_async.py
Due: check-empty-tests, markdownlint, check-links, check-code-fence-syntax

PR feedback
  .github/workflows/ci-docs.yml
  scripts/hooks/check-dockerfile.py
  scripts/hooks/check-empty-tests.py
  scripts/hooks/check-json.py
  scripts/hooks/check-llm-line-limit.py
  scripts/hooks/check-merge-conflict.py
  scripts/hooks/check-toml.py
  scripts/hooks/check-track-caller-async.py
  scripts/hooks/check-yaml.py
  scripts/hooks/end-of-file-fixer.py
  scripts/hooks/markdownlint.py
  scripts/hooks/mixed-line-ending.py
  scripts/hooks/regenerate-skills-index.py
  scripts/hooks/trailing-whitespace.py
  scripts/tests/test_check_llm_line_limit.py
  scripts/tests/test_check_track_caller_async.py
Due: check-yaml, check-empty-tests, actionlint
