Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

check-yaml:
  name: check yaml
  entry: python scripts/hooks/check-yaml.py
  language: python

check-toml:
  name: check toml
  entry: python scripts/hooks/check-toml.py
  language: python

check-json:
  name: check json
  entry: python scripts/hooks/check-json.py
  language: python

check-empty-tests:
  name: check for empty test methods
  entry: python scripts/hooks/check-empty-tests.py
  language: python

cargo-fmt:
  name: cargo fmt
  entry: python scripts/run-cargo-fmt.py
  language: python
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: python scripts/run-cargo-clippy.py
  language: python
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: python scripts/check-rustdoc-links.py
  language: python
  pass_filenames: false

markdownlint:
  name: markdownlint (autofix)
  entry: python scripts/hooks/markdownlint.py
  language: python

vale:
  name: vale prose linting (advisory)
  entry: python scripts/hooks/vale.py
  language: python
  verbose: true

check-links:
  name: check links
  entry: python scripts/check-links.py
  language: python
  pass_filenames: false

check-code-fence-syntax:
  name: check code fence syntax
  entry: bash scripts/check-code-fence-syntax.sh docs
  language: system
  pass_filenames: false

wiki-consistency:
  name: wiki consistency check
  entry: python scripts/check-wiki-consistency.py
  language: python
  pass_filenames: false

actionlint:
  name: actionlint (GitHub Actions)
  entry: python scripts/hooks/actionlint.py
  language: python
  pass_filenames: true

kani-coverage:
  name: kani proof coverage
  entry: python scripts/check-kani-coverage.py
  language: python
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: python scripts/check-cargo-hack.py
  language: python
  pass_filenames: false
  stages:
  - pre-push

fix(ci): resolve blocking CodeQL findings
  .github/actions/install-cargo-tool/action.yml
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/ci-agent-skills.yml
  .github/workflows/ci-benchmarks.yml
  .github/workflows/ci-codeql.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-release-state.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-simulation-nightly.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  .github/workflows/devcontainer-build.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_release_workflows.py
  scripts/tests/test_sync_wiki.py
  tests/simulation/fleet.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

fix(ci): acknowledge trusted checkout boundary
  .github/workflows/ci-codeql.yml
  .github/workflows/ci-release-state.yml
  scripts/tests/test_ci_static_analysis.py
Due: check-yaml, check-empty-tests, actionlint

test(wasm): admit expected threaded dlink warning
  tests/godot-emscripten/browser.spec.mjs
Due: none

chore(deps): update Ruff to 0.16.2
  .github/workflows/ci-quality.yml
  scripts/tests/test_ci_static_analysis.py
Due: check-yaml, check-empty-tests, actionlint

add Fortress Rollback Benchmarks (cargo) benchmark result for aaaaee44bbbcdd001989b9a5014245039c2a46e7
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for aaaaee44bbbcdd001989b9a5014245039c2a46e7
  bench-informational/data.js
Due: none

ci: repair post-merge green gates
  .github/dependabot.yml
  progress/session-162-post-merge-ci-green.md
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_release_checkpoint.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax

docs: close Session 162 progress
  progress/session-162-post-merge-ci-green.md
Due: check-links, check-code-fence-syntax

ci: repair post-merge green gates (#291)
  .github/dependabot.yml
  progress/session-162-post-merge-ci-green.md
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_release_checkpoint.py
Due: check-yaml, check-empty-tests, check-links, check-code-fence-syntax

test(soak): replace raw-RSS boundedness oracle with exact live-heap delta
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

ci: require explicit toolchain input at every rust-toolchain call site
  .github/actions/install-cargo-tool/action.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_release_workflows.py
Due: check-yaml, check-empty-tests, actionlint

fix: adopt rustc 1.98 lint cleanups in library code
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_test_session.rs
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(soak): satisfy hot-join clippy pass
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(soak): pin stats_alloc realloc contract end-to-end
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(soak): read the regression buffer to satisfy collection_is_never_read
  tests/network/soak.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

test(soak): replace flaky RSS oracle with exact live-heap boundedness gate (#298)
  .github/actions/install-cargo-tool/action.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-network-nightly.yml
  .github/workflows/ci-network.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-safety.yml
  .github/workflows/ci-verification.yml
  .github/workflows/ci-version-sync.yml
  .github/workflows/devcontainer-build.yml
  scripts/tests/test_ci_rust_workflow.py
  scripts/tests/test_ci_static_analysis.py
  scripts/tests/test_release_workflows.py
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_test_session.rs
  src/time_sync.rs
  tests/network/soak.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for d6035ff694fb2e703cff34da62baa14716fa39f3
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for d6035ff694fb2e703cff34da62baa14716fa39f3
  bench-informational/data.js
Due: none

chore(deps): refresh workspace lockfiles (minor/patch)
  .pre-commit-config.yaml
  Cargo.lock
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  tests/godot-emscripten/Cargo.lock
Due: check-yaml

perf(synctest): prune checksum history once per advance
  CHANGELOG.md
  src/sessions/sync_test_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

feat(ci): benchmark pip vs uv installs (#281)
  .github/workflows/ci-quality.yml
  ruff.toml
  scripts/ci/benchmark_uv_vs_pip.py
  scripts/tests/test_benchmark_uv_vs_pip.py
Due: check-yaml, check-toml, check-empty-tests, actionlint

chore(deps): update syn to 3.0.4
  Cargo.lock
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  tests/godot-emscripten/Cargo.lock
Due: none

test(synctest): strengthen checksum window oracle
  src/sessions/sync_test_session.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

ci: make mutation testing bounded and fail closed
  .cargo/mutants.toml
  .github/workflows/ci-mutation.yml
  scripts/ci/aggregate_mutation_results.py
  scripts/tests/test_aggregate_mutation_results.py
  scripts/tests/test_ci_mutation_workflow.py
  src/input_queue/mod.rs
  src/lib.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  src/rle.rs
  src/sessions/config.rs
  src/sync_layer/mod.rs
  src/time_sync.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

ci: group mutation planner outputs
  .github/workflows/ci-mutation.yml
Due: check-yaml, actionlint

refactor(iterators): make repeated traversal explicit
  src/sessions/sync_test_session.rs
  tests/simulation/fleet.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

docs(agent): clarify iterator clone reviews
  .agents/skills/code-review/SKILL.md
Due: markdownlint, check-links, check-code-fence-syntax

perf: streamline SyncTest and harden mutation CI (#301)
  .agents/skills/code-review/SKILL.md
  .cargo/mutants.toml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-quality.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.lock
  fuzz/Cargo.lock
  loom-tests/Cargo.lock
  ruff.toml
  scripts/ci/aggregate_mutation_results.py
  scripts/ci/benchmark_uv_vs_pip.py
  scripts/tests/test_aggregate_mutation_results.py
  scripts/tests/test_benchmark_uv_vs_pip.py
  scripts/tests/test_ci_mutation_workflow.py
  src/input_queue/mod.rs
  src/lib.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  src/rle.rs
  src/sessions/config.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/mod.rs
  src/time_sync.rs
  tests/godot-emscripten/Cargo.lock
  tests/simulation/fleet.rs
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 2363992a728cdfcb14fb67f2ae3ef9a7f75be1e4
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 2363992a728cdfcb14fb67f2ae3ef9a7f75be1e4
  bench-informational/data.js
Due: none

perf: remove p2p and spectator hot-path overhead
  CHANGELOG.md
  benches/p2p_session.rs
  src/network/protocol/event.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/allocation_contract.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

docs: add a focused first-session path
  CHANGELOG.md
  README.md
  docs/README.md
  docs/changelog.md
  docs/getting-started.md
  docs/index.md
  docs/specs/README.md
  docs/user-guide.md
  mkdocs.yml
  scripts/docs/sync-wiki.py
  scripts/docs/verify-markdown-code.sh
  scripts/tests/test_docs_onboarding.py
  scripts/tests/test_verify_markdown_code.py
  wiki/Changelog.md
  wiki/Getting-Started.md
  wiki/Home.md
  wiki/User-Guide.md
  wiki/_Sidebar.md
Due: check-yaml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

build: minimize the published crate payload
  CHANGELOG.md
  Cargo.toml
  README.md
  scripts/tests/test_docs_onboarding.py
  scripts/tests/test_package_payload.py
Due: check-toml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, cargo-hack-check

ci: audit every standalone Cargo workspace
  .github/workflows/ci-security.yml
  CHANGELOG.md
  scripts/tests/test_ci_security_workflow.py
  supply-chain/deny-fuzz-licenses.toml
  supply-chain/deny-godot-licenses.toml
Due: check-yaml, check-toml, check-empty-tests, markdownlint, check-links, check-code-fence-syntax, actionlint

ci: type-check production Python with mypy
  .github/workflows/ci-quality.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing.md
  mypy.ini
  scripts/ci/check-advisory-dispositions.py
  scripts/docs/check-links.py
  scripts/docs/check-theme-colors.py
  scripts/docs/check-wiki-consistency.py
  scripts/docs/validate-wiki-output.py
  scripts/hooks/check-rust-semantic-claims.py
  scripts/hooks/check-toml.py
  scripts/hooks/validate-agent-skills.py
  scripts/release/prepare_release.py
  scripts/release/release_branch.py
  scripts/release/release_state.py
  scripts/release/workspace_locks.py
  scripts/tests/test_python_typing.py
  scripts/tests/test_release_workflows.py
  scripts/verification/check-kani-coverage.py
  wiki/Contributing.md
Due: check-yaml, check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint

chore(deps): bump pymdown-extensions to 11.0.2
  requirements-docs.txt
Due: none

ci: support cargo-deny 0.20 license scans
  .github/workflows/ci-security.yml
  scripts/tests/test_ci_security_workflow.py
Due: check-yaml, check-empty-tests, actionlint

fix: close hosted validation gaps
  Cargo.toml
  benches/p2p_all_local.rs
  benches/p2p_session.rs
  docs/user-guide.md
  src/network/protocol/event.rs
  src/sessions/p2p_spectator_session.rs
  tests/allocation_contract.rs
  wiki/User-Guide.md
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
