Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-empty-tests: any of: test_.*\.py$|.*_test\.py$ and \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(target/|fuzz/target/|loom-tests/target/|progress/|PLAN\.md)
  vale: any of: ^docs/ and \.(md|markdown|mdown)$
  check-links: any of: \.(md|rs)$
  check-code-fence-syntax: any of: \.md$
  wiki-consistency: any of: ^(docs/.*\.md|wiki/.*\.md|scripts/sync-wiki\.py)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$

Clarify wait cooldown and sync wiki
  tests/simulation/harness/schedule.rs
  wiki/Telemetry.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Match controller census connection gate
  src/sessions/p2p_session.rs
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Count coalesced wait debt exactly
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Pair benchmark regression measurements
  .github/workflows/ci-benchmarks.yml
  scripts/ci/check-benchmark-regressions.py
  scripts/tests/test_check_benchmark_regressions.py
Due: check-yaml, check-empty-tests, actionlint

Preserve overlapping wait debt
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Cache time-sync rolling sums
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Test bounded rollback CPU feedback
  tests/simulation/corpus_replay.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/schedule.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Aggregate CPU work per peer drive
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Record direct receipt range evidence
  src/sessions/p2p_session.rs
  tests/simulation/corpus_replay.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Characterize full-ring fail-safe boundary
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix Rust 1.97 nursery lint
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Fix Rust 1.97 use-self lint
  tests/simulation/harness/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Characterize hostile gossip bounds
  src/lib.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  tests/simulation/census.rs
  tests/simulation/corpus_replay.rs
  tests/simulation/harness/artifact.rs
  tests/simulation/harness/mod.rs
  tests/simulation/harness/shrink.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Document dishonest-peer operator policy
  CHANGELOG.md
  docs/desync-playbook.md
  docs/production-checklist.md
  docs/threat-model.md
  tests/simulation/harness/mod.rs
  wiki/Desync-Playbook.md
  wiki/Production-Checklist.md
  wiki/Threat-Model.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Repair nightly H-BLOAT census
  tests/simulation/census.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Retire false-green protocol verification
  docs/fortress-vs-ggrs.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  scripts/verification/verify-kani.sh
  scripts/verification/verify-tla.sh
  specs/tla/NetworkProtocol.cfg
  specs/tla/NetworkProtocol.tla
  specs/tla/README.md
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Spec-Divergences.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Add mutation-sensitive handshake trace contract
  docs/fortress-vs-ggrs.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  scripts/tests/test_verify_sync_handshake_traces.py
  scripts/verification/verify-sync-handshake-traces.py
  scripts/verification/verify-tla.sh
  specs/tla/README.md
  specs/tla/SyncHandshakeV1Trace.tla
  specs/tla/traces/sync-handshake-v1/README.md
  specs/tla/traces/sync-handshake-v1/duplicate-reply-decrement.ndjson
  specs/tla/traces/sync-handshake-v1/matching.ndjson
  specs/tla/traces/sync-handshake-v1/mismatch.ndjson
  specs/tla/traces/sync-handshake-v1/timeout.ndjson
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Spec-Divergences.md
Due: check-empty-tests, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency

add Fortress Rollback Benchmarks (cargo) benchmark result for a3a1c6d15d6ec58c7f1b7dcb29ccaba37fcf7d5d
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for a3a1c6d15d6ec58c7f1b7dcb29ccaba37fcf7d5d
  bench-informational/data.js
Due: none

Harden handshake trace request identities
  scripts/tests/test_verify_sync_handshake_traces.py
  scripts/verification/verify-sync-handshake-traces.py
  specs/tla/SyncHandshakeV1.cfg
  specs/tla/SyncHandshakeV1.tla
  specs/tla/SyncHandshakeV1Fair.cfg
  specs/tla/SyncHandshakeV1Mismatch.cfg
  specs/tla/SyncHandshakeV1Trace.tla
  specs/tla/SyncHandshakeV1_HandlersDisabled.cfg
  specs/tla/traces/sync-handshake-v1/duplicate-reply-decrement.ndjson
  specs/tla/traces/sync-handshake-v1/matching.ndjson
Due: check-empty-tests

Add bounded handshake trace recorder
  .llm/design-history/network.txt
  Cargo.toml
  specs/tla/README.md
  specs/tla/traces/sync-handshake-v1/README.md
  src/lib.rs
  src/network/protocol/handshake_trace.rs
  src/network/protocol/mod.rs
Due: check-toml, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

Add bounded handshake trace recorder (#239)
  .llm/design-history/network.txt
  Cargo.toml
  scripts/tests/test_verify_sync_handshake_traces.py
  scripts/verification/verify-sync-handshake-traces.py
  specs/tla/README.md
  specs/tla/SyncHandshakeV1.cfg
  specs/tla/SyncHandshakeV1.tla
  specs/tla/SyncHandshakeV1Fair.cfg
  specs/tla/SyncHandshakeV1Mismatch.cfg
  specs/tla/SyncHandshakeV1Trace.tla
  specs/tla/SyncHandshakeV1_HandlersDisabled.cfg
  specs/tla/traces/sync-handshake-v1/README.md
  specs/tla/traces/sync-handshake-v1/duplicate-reply-decrement.ndjson
  specs/tla/traces/sync-handshake-v1/matching.ndjson
  src/lib.rs
  src/network/protocol/handshake_trace.rs
  src/network/protocol/mod.rs
Due: check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 6e3a641450bf85175eca7c58dd04b42cb5a49f0c
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 6e3a641450bf85175eca7c58dd04b42cb5a49f0c
  bench-informational/data.js
Due: none

Validate runtime handshake traces
  .github/workflows/ci-verification.yml
  .llm/design-history/network.txt
  scripts/tests/test_verify_sync_handshake_traces.py
  scripts/verification/verify-sync-handshake-traces.py
  specs/tla/README.md
  specs/tla/traces/sync-handshake-v1/README.md
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  tests/simulation.rs
  tests/simulation/trace_validation.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

Generalize handshake trace cardinality check
  tests/simulation/trace_validation.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Validate runtime handshake traces (#240)
  .github/workflows/ci-verification.yml
  .llm/design-history/network.txt
  scripts/tests/test_verify_sync_handshake_traces.py
  scripts/verification/verify-sync-handshake-traces.py
  specs/tla/README.md
  specs/tla/traces/sync-handshake-v1/README.md
  src/sessions/builder.rs
  src/sessions/p2p_session.rs
  tests/simulation.rs
  tests/simulation/trace_validation.rs
Due: check-yaml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, check-links, check-code-fence-syntax, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 94f33a86fc9b20bb59977e7247029b3163372ee6
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 94f33a86fc9b20bb59977e7247029b3163372ee6
  bench-informational/data.js
Due: none

Add deterministic swarm simulation profiles
  tests/simulation/fleet.rs
  tests/simulation/harness/schedule.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, check-links, kani-coverage, cargo-hack-check

Document operational topology and pacing limits
  CHANGELOG.md
  README.md
  docs/architecture.md
  docs/production-checklist.md
  docs/specs/api-contracts.md
  docs/tuning.md
  docs/user-guide.md
  scripts/tests/test_operational_docs_contract.py
  src/sessions/p2p_session.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Production-Checklist.md
  wiki/Tuning.md
  wiki/User-Guide.md
Due: check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Add isolated mesh confirmation benchmark
  .github/workflows/ci-benchmarks.yml
  Cargo.toml
  benches/h16p_mesh.rs
  scripts/tests/test_check_benchmark_regressions.py
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, check-links, actionlint, kani-coverage, cargo-hack-check

Add browser transport throughput diagnostics
  docs/production-checklist.md
  docs/specs/api-contracts.md
  docs/telemetry.md
  docs/tuning.md
  docs/user-guide.md
  src/lib.rs
  src/metrics.rs
  src/network/network_stats.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v3.json
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  wiki/API-Contracts.md
  wiki/Production-Checklist.md
  wiki/Telemetry.md
  wiki/Tuning.md
  wiki/User-Guide.md
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

Add browser transport throughput diagnostics (#243)
  docs/production-checklist.md
  docs/specs/api-contracts.md
  docs/telemetry.md
  docs/tuning.md
  docs/user-guide.md
  src/lib.rs
  src/metrics.rs
  src/network/network_stats.rs
  src/network/protocol/mod.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  tests/simulation/baseline_sweep.rs
  tests/simulation/baselines/sweep-v3.json
  tests/simulation/fleet.rs
  tests/simulation/harness/mod.rs
  wiki/API-Contracts.md
  wiki/Production-Checklist.md
  wiki/Telemetry.md
  wiki/Tuning.md
  wiki/User-Guide.md
Due: check-json, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 1934c2b3d5e8843cb00815e0d8d6bd176274ff2c
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for 1934c2b3d5e8843cb00815e0d8d6bd176274ff2c
  bench-informational/data.js
Due: none

Harden simulation coverage, cost evidence, and guidance (#241)
  .github/workflows/ci-benchmarks.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  benches/h16p_mesh.rs
  docs/architecture.md
  docs/production-checklist.md
  docs/specs/api-contracts.md
  docs/tuning.md
  docs/user-guide.md
  scripts/tests/test_check_benchmark_regressions.py
  scripts/tests/test_operational_docs_contract.py
  src/sessions/p2p_session.rs
  tests/simulation/fleet.rs
  tests/simulation/harness/schedule.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Production-Checklist.md
  wiki/Tuning.md
  wiki/User-Guide.md
Due: check-yaml, check-toml, check-empty-tests, cargo-fmt, cargo-clippy, rustdoc-links, markdownlint, vale, check-links, check-code-fence-syntax, wiki-consistency, actionlint, kani-coverage, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for bc8bdc792bc4d7bcb9f7f0a0afa0a30578bd3303
  bench/data.js
Due: none

add Fortress Rollback Informational Benchmarks (cargo) benchmark result for bc8bdc792bc4d7bcb9f7f0a0afa0a30578bd3303
  bench-informational/data.js
Due: none
