Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: 'bash -c ''cargo doc --no-deps 2>&1 | grep -E "warning: .*unresolved link" && exit 1 || exit 0'''
  language: system
  pass_filenames: false

kani-coverage:
  name: kani proof coverage
  entry: ./scripts/check-kani-coverage.sh
  language: script
  pass_filenames: false

check-links:
  name: check links
  entry: ./scripts/check-links.sh
  language: script
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: bash -c 'command -v cargo-hack >/dev/null && cargo hack check --feature-powerset --exclude-features z3-verification,graphical-examples || true'
  language: system
  pass_filenames: false
  stages:
  - pre-push

add Fortress Rollback Benchmarks (cargo) benchmark result for c15a7b213e156f7945443aaf76cf629a137fc728
  bench/data.js
Due: none

More wiki fixes
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
  scripts/validate-wiki-output.py
  wiki/Home.md
Due: check-links

More wiki fixes
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
Due: check-links

PR feedback
  .github/workflows/ci-docs.yml
  .llm/skills/text-parsing-patterns.md
  scripts/tests/test_validate_wiki_output.py
  scripts/validate-wiki-output.py
Due: check-links

PR feedback
  scripts/sync-wiki.py
  scripts/tests/test_validate_wiki_output.py
Due: none

PR feedback
  scripts/sync-wiki.py
Due: none

PR feedback
  .llm/skills/python-script-guidelines.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
Due: check-links

PR feedback
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
Due: check-links

PR feedback
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
  scripts/tests/test_validate_wiki_output.py
  scripts/validate-wiki-output.py
Due: check-links

More wiki fixes (#50)
  .github/workflows/ci-docs.yml
  .llm/skills/python-script-guidelines.md
  .llm/skills/text-parsing-patterns.md
  scripts/sync-wiki.py
  scripts/tests/test_sync_wiki.py
  scripts/tests/test_validate_wiki_output.py
  scripts/validate-wiki-output.py
  wiki/Home.md
Due: check-links

add Fortress Rollback Benchmarks (cargo) benchmark result for 26893b7aa5bbb130c372a279e00bb5ec99593a6c
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for eaecf6aa411de117d5e1d3d6d3e6c156e374c9f5
  bench/data.js
Due: none

More wiki fixes
  .llm/skills/github-wiki-sync.md
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_wiki_consistency.py
  wiki/_Sidebar.md
Due: check-links

PR feedback
  .llm/skills/markdown-formatting.md
  scripts/tests/test_check_wiki_consistency.py
Due: check-links

PR feedback
  .llm/skills/github-wiki-sync.md
  scripts/check-wiki-consistency.py
Due: check-links

More wiki fixes (#51)
  .llm/skills/github-wiki-sync.md
  .llm/skills/markdown-formatting.md
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_wiki_consistency.py
  wiki/_Sidebar.md
Due: check-links

GitHub wiki fixes
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_wiki_consistency.py
Due: none

PR feedback
  scripts/check-wiki-consistency.py
  scripts/tests/test_check_wiki_consistency.py
Due: none

GitHub wiki fixes (#52)
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_wiki_consistency.py
Due: none

Maybe fix wiki?
  .llm/skills/github-wiki-sync.md
  scripts/check-links.py
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_wiki_consistency.py
  wiki/_Sidebar.md
Due: check-links

PR feedback
  .llm/skills/github-wiki-sync.md
  scripts/check-links.py
  scripts/check-links.sh
  scripts/check-wiki-consistency.py
  scripts/tests/test_check_links.py
  scripts/tests/test_check_wiki_consistency.py
Due: check-links

PR feedback
  scripts/check-wiki-consistency.py
  scripts/sync-wiki.py
  scripts/tests/test_check_links.py
  scripts/tests/test_check_wiki_consistency.py
  scripts/tests/test_sync_wiki.py
Due: none

Maybe PR fixes?
  .llm/skills/text-parsing-patterns.md
  scripts/check-links.py
  scripts/sync-wiki.py
  scripts/tests/test_check_links.py
  scripts/tests/test_sync_wiki.py
Due: check-links

PR feedback
  .pre-commit-config.yaml
  scripts/check-links.py
  scripts/hooks/check-empty-tests.py
  scripts/tests/test_check_links.py
Due: none

Maybe fix wiki? (#53)
  .llm/skills/github-wiki-sync.md
  .llm/skills/text-parsing-patterns.md
  .pre-commit-config.yaml
  scripts/check-links.py
  scripts/check-links.sh
  scripts/check-wiki-consistency.py
  scripts/hooks/check-empty-tests.py
  scripts/sync-wiki.py
  scripts/tests/test_check_links.py
  scripts/tests/test_check_wiki_consistency.py
  scripts/tests/test_sync_wiki.py
  wiki/_Sidebar.md
Due: check-links

Many improvements
  .devcontainer/devcontainer.json
  src/checksum.rs
  src/error.rs
  src/hash.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/compression.rs
  src/network/protocol/mod.rs
  src/rle.rs
  src/rng.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sync_layer/mod.rs
  src/sync_layer/saved_states.rs
  src/telemetry.rs
  src/test_config.rs
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .cargo/config.toml
  .github/workflows/ci-rust.yml
  Cross.toml
  src/checksum.rs
  src/error.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/codec.rs
  src/network/compression.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/rle.rs
  src/sync.rs
  src/telemetry.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Finish rest of planned work
  .llm/context.md
  .llm/skills/kani-verification.md
  CLAUDE.md
  docs/user-guide.md
  scripts/check-rustdoc-links.py
  src/checksum.rs
  src/input_queue/mod.rs
  src/network/codec.rs
  src/network/protocol/mod.rs
  src/sync_layer/mod.rs
  src/telemetry.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Kani proof metadata
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/checksum.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/protocol/event.rs
  src/network/protocol/input_bytes.rs
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  src/rle.rs
  src/sessions/config.rs
  src/sync_layer/mod.rs
  src/time_sync.rs
  tests/common/mod.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/common/test_utils.rs
  tests/config.rs
  tests/network/resilience.rs
  tests/sessions/p2p.rs
  tests/sessions/p2p_enum.rs
  tests/sessions/spectator.rs
  tests/sessions/synctest.rs
  tests/sessions/synctest_enum.rs
  tests/verification.rs
  tests/verification/property.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .cargo/config.toml
  .github/workflows/ci-rust.yml
  .vale/styles/config/vocabularies/Fortress/accept.txt
  .vale/styles/write-good/Cliches.yml
  .vale/styles/write-good/E-Prime.yml
  .vale/styles/write-good/Illusions.yml
  .vale/styles/write-good/Passive.yml
  .vale/styles/write-good/README.md
  .vale/styles/write-good/So.yml
  .vale/styles/write-good/ThereIs.yml
  .vale/styles/write-good/TooWordy.yml
  .vale/styles/write-good/Weasel.yml
  .vale/styles/write-good/meta.json
  Cross.toml
  scripts/verify-kani.sh
  src/network/protocol/event.rs
  src/network/protocol/state.rs
  tests/common/test_utils.rs
  tests/network/resilience.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .cargo/config.toml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/welcome.sh
  .github/workflows/ci-rust.yml
  .llm/context.md
  .llm/skills/ci-cd-debugging.md
  .llm/skills/cross-platform-ci-cd.md
  .llm/skills/kani-verification.md
  .pre-commit-config.yaml
  .typos.toml
  Cross.toml
  scripts/check-tools.sh
  scripts/hooks/vale.py
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for b43925ca0463aee2ee09585186b4d39d6875b2b2
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for fd74f54215d01e0f11d77ceacaabfc5658c3df6d
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 5811045b9b1ba4aab8b0cced96b7ebdc8395edbf
  bench/data.js
Due: none

PR feedback
  .cargo/config.toml
  .config/nextest.toml
  .github/copilot-instructions.md
  .github/workflows/ci-docs.yml
  .github/workflows/ci-rust.yml
  .llm/context.md
  .llm/skills/rust-testing-guide.md
  .llm/skills/testing-tools-reference.md
  AGENTS.md
  CLAUDE.md
  Cross.toml
  src/error.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/network/compression.rs
  src/network/protocol/mod.rs
  src/network/protocol/state.rs
  src/rle.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_test_session.rs
  tests/common/mod.rs
  tests/common/test_utils.rs
  tests/config.rs
  tests/network/multi_process.rs
  tests/network/resilience.rs
  tests/sessions/p2p.rs
  tests/sessions/spectator.rs
  tests/verification/property.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Pr feedback
  deny.toml
  src/sessions/builder.rs
  src/sessions/sync_test_session.rs
  tests/common/test_utils.rs
  tests/network/resilience.rs
  tests/sessions/p2p.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Update miri tests to be chunkified
  .github/workflows/ci-rust.yml
  src/network/compression.rs
  src/network/protocol/mod.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .github/workflows/ci-network.yml
  .github/workflows/ci-rust.yml
  .llm/context.md
  .llm/skills/github-actions-best-practices.md
  scripts/verify-sccache.sh
  src/network/chaos_socket.rs
  src/test_config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  src/error.rs
  src/network/chaos_socket.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  check-links: any of: \.(md|rs)$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
