Repository wallstop/fortress-rollback: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

rustdoc-links:
  name: rustdoc link check
  entry: 'bash -c ''cargo doc --no-deps 2>&1 | grep -E "warning: .*unresolved link" && exit 1 || exit 0'''
  language: system
  pass_filenames: false

kani-coverage:
  name: kani proof coverage
  entry: ./scripts/check-kani-coverage.sh
  language: script
  pass_filenames: false

check-links:
  name: check links
  entry: ./scripts/check-links.sh
  language: script
  pass_filenames: false

cargo-hack-check:
  name: cargo hack feature check
  entry: bash -c 'command -v cargo-hack >/dev/null && cargo hack check --feature-powerset --exclude-features z3-verification,graphical-examples || true'
  language: system
  pass_filenames: false
  stages:
  - pre-push

PR feedback - Miri CI
  .github/workflows/ci-rust.yml
Due: none

Address CI/CD failures
  .github/workflows/ci-rust.yml
  Cargo.lock
  Cargo.toml
  src/network/udp_socket.rs
  tests/config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Fix sec warning
  Cargo.lock
  Cargo.toml
  tests/config.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR fixes
  src/rng.rs
  tests/common/test_utils.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  Cargo.toml
  tests/common/mod.rs
  tests/common/test_utils.rs
  tests/network/resilience.rs
  tests/sessions/p2p.rs
  tests/sessions/p2p_enum.rs
  tests/sessions/spectator.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/skills/defensive-programming.md
  .llm/skills/property-testing.md
  .llm/skills/rust-testing-guide.md
  loom-tests/Cargo.lock
  loom-tests/tests/loom_telemetry.rs
  src/checksum.rs
  src/error.rs
  src/network/compression.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  src/network/compression.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/skills/defensive-programming.md
  .llm/skills/option-copied-pattern.md
  .llm/skills/property-testing.md
  .llm/skills/rust-pitfalls.md
  src/checksum.rs
  src/network/compression.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .github/workflows/ci-docs.yml
  .llm/skills/code-review-lessons.md
  CHANGELOG.md
  docs/migration.md
  src/lib.rs
  src/network/compression.rs
  src/network/protocol/input_bytes.rs
  src/prelude.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/skills/code-review-lessons.md
  loom-tests/tests/loom_telemetry.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Fix changelog
  CHANGELOG.md
Due: check-links

PR feedback
  .llm/skills/code-review-lessons.md
  .llm/skills/rust-pitfalls.md
  src/network/compression.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Update scripts/check-rustdoc-links.py
  scripts/check-rustdoc-links.py
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: check-links

add Fortress Rollback Benchmarks (cargo) benchmark result for 6b476153010b52a24606508861d7c34ed38b6c7f
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for fd615115f040eda22dc606b63900efcd07f18a81
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for b91eb1a2e86ed20c76fa56262af323b5590386b1
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for f4529bf7679bb02bcc6ce7dbba9aa8b3bed8757a
  bench/data.js
Due: none

Update GitHub pages render issue, update fortress v ggrs
  .github/workflows/ci-docs.yml
  .pre-commit-config.yaml
  docs/architecture.md
  docs/contributing.md
  docs/fortress-vs-ggrs.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  scripts/check-code-fence-syntax.sh
Due: check-links

PR feedback
  .llm/skills/code-review-lessons.md
  .pre-commit-config.yaml
  README.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  llms.txt
  scripts/check-code-fence-syntax.sh
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
Due: check-links

PR feedback
  scripts/check-code-fence-syntax.sh
Due: none

PR feedback
  .github/workflows/ci-quality.yml
  .llm/skills/code-review-lessons.md
  scripts/check-kani-coverage.sh
  scripts/verify-markdown-code.sh
Due: check-links

PR feedback
  .llm/skills/code-review-lessons.md
  .llm/skills/shell-script-portability.md
  scripts/check-code-fence-syntax.sh
  tests/verification/z3.rs
  wiki/Fortress-vs-GGRS.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Update GitHub pages render issue, update fortress v ggrs (#65)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-quality.yml
  .llm/skills/code-review-lessons.md
  .llm/skills/shell-script-portability.md
  .pre-commit-config.yaml
  README.md
  docs/architecture.md
  docs/contributing.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/user-guide.md
  llms.txt
  scripts/check-code-fence-syntax.sh
  scripts/check-kani-coverage.sh
  scripts/verify-markdown-code.sh
  tests/verification/z3.rs
  wiki/Fortress-vs-GGRS.md
  wiki/Home.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 304e1ed0b481ceb1f1cdf42093a550edf3b6ea86
  bench/data.js
Due: none

add Fortress Rollback Benchmarks (cargo) benchmark result for 4db745da9691cf2eb66b0107068ad7c88556516d
  bench/data.js
Due: none

Various feedback based on first impl
  .github/copilot-instructions.md
  .gitignore
  .llm/context.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  benches/p2p_session.rs
  docs/architecture.md
  docs/user-guide.md
  examples/README.md
  examples/ex_game/ex_game.rs
  examples/sync_test.rs
  src/checksum.rs
  src/error.rs
  src/input_queue/prediction.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/codec.rs
  src/network/compression.rs
  src/network/network_stats.rs
  src/network/protocol/state.rs
  src/prelude.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_health.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/game_state_cell.rs
  src/telemetry.rs
  tests/common/stubs.rs
  tests/common/stubs_enum.rs
  tests/common/test_utils.rs
  tests/verification/determinism.rs
  tests/verification/metamorphic.rs
  tests/verification/property.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback, slightly more usability
  .llm/context.md
  .llm/skills/changelog-practices.md
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/user-guide.md
  examples/README.md
  examples/error_handling.rs
  examples/request_handling.rs
  src/lib.rs
  wiki/Architecture.md
  wiki/User-Guide.md
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 4796ff6618072d5f073f87dc874a1877351f2f52
  bench/data.js
Due: none

0.3.0 release
  Cargo.lock
  Cargo.toml
Due: cargo-hack-check

0.3.0 release (#70)
  Cargo.lock
  Cargo.toml
Due: cargo-hack-check

add Fortress Rollback Benchmarks (cargo) benchmark result for 0098310b7b63e3e5fd999d8ca5c6139132338fa1
  bench/data.js
Due: none

Frame ergonomics + logo fixes
  .gitignore
  CHANGELOG.md
  docs/architecture.md
  docs/assets/logo-banner.svg
  docs/assets/logo-small.svg
  docs/assets/logo.svg
  docs/contributing.md
  docs/fortress-vs-ggrs.md
  docs/index.md
  docs/migration.md
  docs/user-guide.md
  mkdocs.yml
  src/error.rs
  src/hash.rs
  src/lib.rs
  src/network/chaos_socket.rs
  src/network/network_stats.rs
  src/rng.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/p2p_spectator_session.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/game_state_cell.rs
  src/telemetry.rs
  src/time_sync.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Update Changelog
  CHANGELOG.md
Due: check-links

More ergonomics
  CHANGELOG.md
  examples/configuration.rs
  src/error.rs
  src/sessions/builder.rs
  src/sync_layer/game_state_cell.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/context.md
  .llm/skills/changelog-practices.md
  .llm/skills/documentation-code-consistency.md
  CHANGELOG.md
  README.md
  assets/logo-banner.svg
  assets/logo-small.svg
  assets/logo.svg
  docker/README.md
  docs/assets/logo-small.svg
  docs/assets/logo.svg
  docs/specs/api-contracts.md
  docs/specs/determinism-model.md
  docs/specs/formal-spec.md
  docs/specs/spec-divergences.md
  examples/README.md
  loom-tests/README.md
  scripts/sync-wiki.py
  specs/tla/README.md
  src/hash.rs
  src/input_queue/mod.rs
  src/lib.rs
  src/sessions/builder.rs
  src/sessions/config.rs
  src/sessions/p2p_session.rs
  src/sessions/sync_test_session.rs
  src/sync_layer/mod.rs
  wiki/API-Contracts.md
  wiki/Architecture.md
  wiki/Contributing.md
  wiki/Determinism-Model.md
  wiki/Formal-Specification.md
  wiki/Fortress-vs-GGRS.md
  wiki/Migration.md
  wiki/User-Guide.md
  wiki/assets/logo-small.svg
  wiki/assets/logo.svg
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

PR feedback
  .llm/skills/defensive-programming.md
  CHANGELOG.md
  src/error.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, rustdoc-links, kani-coverage, check-links, cargo-hack-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustdoc-links: any of: \.rs$
  kani-coverage: any of: \.rs$|verify-kani\.sh$
  check-links: any of: \.(md|rs)$
  cargo-hack-check: any of: \.rs$|Cargo\.toml$
